</div>
<div style="margin-top:-100px;padding-bottom:10px;"id="carousel<?php echo $module; ?>">
  <ul class="jcarousel-skin-opencart">
    <?php foreach ($banners as $banner) { ?>
    <li><a href="<?php echo $banner['link']; ?>"><div class="img_border_2"><div class="img_border"><div class="img_border_1"><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" id="south1" title="<?php echo $banner['title']; ?>" /></div></div></div></a></li>
    <?php } ?>
  </ul>
</div>
</div>

<script type="text/javascript"><!--
$('#carousel<?php echo $module; ?> ul').jcarousel({
	vertical: false,
	visible: <?php echo $limit; ?>,
	scroll: <?php echo $scroll; ?>
});
//--></script>