.clear{clear:both;}
#product-filter{padding:0;line-height: 22px;position:relative;}
  .filter-option{position: relative;}
    .option-name{background-color: #EEF4FA; border-top: 1px solid #3D89AD; color: #3D89AD; font-weight:bold; margin: -1px 0 0; padding: 1px 10px;position:relative;z-index: 2;}
    .option-name a{background: url('../../image/filter/icon-info.png') no-repeat 95% center;color: #333333; display: block; position: relative; text-decoration: none; z-index: 2;}
    .option-name .description{background-color:#E3EEF9; left:-10px; right:10px; display:none; font-weight: normal;padding:10px; position:absolute; top:20px; width:100%;z-index: 3;}

    .option-values{padding:10px 10px 11px;}

      .filter-option label{display: block;cursor:pointer;overflow: hidden;}
      .filter-option label input{float: left; margin: 4px 5px 0 0;}
      .filter-option label small{background: #BCF9B9 url('../../image/filter/counter-bg.png') no-repeat 0 center; border-radius: 0 3px 3px 0; color: #2DA305; display: block; float: right; font-size: 10px; line-height: 17px; margin: 3px 0 0 3px; padding: 0 5px;width: 25px;text-align:center;}
      .filter-option label.disabled {color: #999999;}
      .filter-option label.disabled small{background: #EFEFEF url('../../image/filter/counter-bg-zero.png') no-repeat 0 center;color: #999999;}
      .filter-option label a{border-bottom: 1px dashed #017EC2; color: #236BBB; display: block; float: left; text-decoration: none;}
      .filter-option label.selected {color: #E56101;}
      .filter-option label.selected small{display:none;}
      .filter-option select{width:158px;}
      .filter-option select.selected{border: 1px solid #E56101;}
      .filter-option #other-options-hide{display:none;}

    /*=Selected Options */
    #selecteds {color: #666;}
    #selecteds .filter-option{background-color: #F8F8F8; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #EAEAEA;padding: 5px;}
    #selecteds a{display: inline-block;white-space: nowrap;}
    #selecteds .cancel-large{background: url('../../image/filter/cancel-large.png') no-repeat 0 7px;padding-left: 20px;display: block; margin: 5px 5px 6px;}
    #selecteds .cancel-large:hover{background-position: 0 -24px;}
    #selecteds .cancel-small{background: url('../../image/filter/cancel-small.png') no-repeat 3px 3px;padding-left: 16px;}
    #selecteds .cancel-small:hover{background-position: 3px -18px;}
    #selecteds .cancel{background: url('../../image/filter/scale-active.png') repeat-x 0 0; display: inline-block; font-size: 1px; text-decoration: none;}

    /*=Price Trackbar */
    #scale{height: 30px; margin: 0 0 5px;position: relative;}
    #scale #disabled{background-color:#ffffff;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.8;z-index: 5;}
    #trackbar {background: url('../../image/filter/scale.png') no-repeat 0 6px;overflow:hidden;position:relative;z-index: 1;}
    #trackbar div {margin:0; padding:0;}
    #trackbar img {border:0;}
    #trackbar #left-block {float: left;position:relative; width:0; text-align: right; z-index:1; white-space:nowrap;width:1%; text-align: right; font-size: 1px;margin-right: -7px;}
    #trackbar #left-block img {cursor:pointer;}
    #trackbar #right-block {float: right;position:relative; width:0; text-align: left; z-index:1; white-space:nowrap;width:1%; text-align: left; font-size: 1px;margin-left: -7px;}
    #trackbar #right-block img {cursor:pointer;}
    #trackbar #center-block {background: url('../../image/filter/scale-active.png') repeat-x 0 0;height:14px;cursor: e-resize;font-size:1px; margin-top: 6px;position:relative;overflow:hidden;z-index: 0;}
    #trackbar #center-block div{height:13px;position:absolute;top:0;left:0;width:100%;display:none;}
    #trackbar #center-block #null {background: url('../../image/filter/scale-inactive.png') repeat-x 0 0;}

  /*=Filter buttons */
  #product-filter .filter-buttons{padding: 5px 0 10px 10px;}
  #product-filter #button-bottom{display:none;z-index: 1;position:absolute;}
  #product-filter a.disabled{background:#666;}
	#price-button{padding: 0 0 10px 10px;}

  /*=Price diagram */
  #diagram {background: none repeat scroll 0 0 #F0F0F0; border-radius: 3px 3px 3px 3px; overflow: hidden;margin: 0 0 5px;}
    #diagram #field {position:relative;height: 30px;}
    #diagram #field div{background-color: #ccc; float: left; width: 1px;position:absolute;bottom:0;}
    #diagram #field div div{display:none;}

  /*=Products list */
  .product-grid .description{display:block; font-size:11px; margin:0 -5px 7px; padding:5px;}
  .product-grid .description .attributes{display: table;list-style-type:none;margin:0;padding:0;}
  .product-grid .description .attributes li{line-height:15px;display: table-row;}
  .product-grid .description .attributes li .option{color: #999999; display: table-cell;width: 50%;}
  .product-grid .description .attributes li .value{display: table-cell; vertical-align: bottom;}

  .product-list .description{font-size: 11px; margin: 10px 125px 5px 100px;overflow: hidden;}
  .product-list .description .attributes{display: table;float:left;list-style-type:none; margin:0 20px 0 0; padding: 0;}
  .product-list .description .attributes li{display: table-row;margin:0; line-height:17px;padding:0;}
  .product-list .description .attributes li .option{display: table-cell;color:#999999;}
  .product-list .description .attributes li .value{display: table-cell;padding: 0 0 0 5px;}

	#other-options-hide{display:none;}