/*=Content position styling */
  #filter-price{overflow:hidden;}

  .filter-option {padding:0;}
  .filter-option .filter-values {}
  .filter-option label {display:inline-block;margin-right: 10px;}
  .filter-option label a {border: none; display: inline; float: none;}
  .filter-option label small {display: inline-block; float: none;}
  .filter-option label small {margin: 2px 3px 2px 6px; padding: 0 4px;}

  #product-filter #price-handlers{float: left;}