#footer {margin-top:0px;}
.list .help {
  max-width: 300px;
}
.stores {
  margin-right: 5px;
  display: inline-block;
}

#language_helper_box {
    z-index: 100;
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.vtabs .language-helper {
  padding: 0px !important;
  margin: 0px !important;
  border: 0 !important;
  background-color: inherit !important;
}
.vtabs .vtab-help {
  padding: 0px !important;
  margin: 0px !important;
  border: 0 !important;
  background-color: inherit !important;
}
.vtabs a span.language-helper {
  display: inline-block;
  clear: none;
  width: auto;
  float: right;
  margin-right: 5px;
  line-height: 21px;
}
.vtabs a img {
  display: block;
  line-height: 21px;
  float: right !important;
  vertical-align: top;
  margin-left: 5px;
}
.simple-columns {
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px dotted #000000;
  text-align: center;
}
.simple-block {
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #AA0000;
  text-align: left;
  clear: both;
  background-color: #EEEEEE;
}
.simple-block-header {
  overflow: hidden;
  border-bottom: 1px solid #000000;
}
.simple-block span {
  display: block;
  font-weight: bold;
  color: #AA0000;
}
.simple-dummy {
  margin: 5px;
  padding: 5px;
  clear: both;
}
.left-column {
  float: left;
  width: 49%;
  margin-right: 1%;
  padding: 5px;
  border: 1px dotted #000000;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 10px;
}
.right-column {
  float: left;
  width: 50%;
  padding: 5px;
  border: 1px dotted #000000;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 10px;
}
.three-column {
  float: left;
  width: 32%;
  margin-right: 1%;
  padding: 5px;
  border: 1px dotted #000000;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 10px;
}
.simple-block img, .left-column img, .right-column img, .three-column img {
  cursor: pointer;
  margin: 0px 0px 3px 3px;
}
.simple-step {
  border: 1px dotted #000000;
  overflow:hidden;
  padding: 5px;
}
table.form td+td {
}
.set-row {
  max-width:300px;
  overflow:hidden;
  cursor:pointer;
}
.set-row span.requried {
  margin-right: 3px;
  color: #AA0000;
}
.set-row span.requried-master {
  margin-right: 3px;
  color: #000000;
}
.set-row div {
  padding: 3px;
}
.set-row .selected {
  border: 1px dotted #111111;
}
.set-row .logged {
  background-color: #f2e8c9;
}
.set-row .guest {
  background-color: #addfad;
}
#easyTooltip {
    padding:5px;
    border:1px solid #ccc;
    background:#fde910;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
}
#easyTooltip:before {
    content:'';
    position:absolute;
    left:-8px;
    top:8px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #fde910;
    border-bottom: 5px solid transparent;
}