html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;

	background: #FFFFFF url('../image/bg3.jpg');
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	
}

input[type='text'], input[type='password'] {
	padding: 2px;
}
select {
	padding: 1px;
}
textarea {
	padding: 2px;
}
a, a:visited {
	color: #003366;
	text-decoration: underline;
	cursor: pointer;
}
a img {
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
#header .div1 {
	height: 20px;
	padding: 5px 5px;
	background:#666; 
  	min-width: 900px; 
	box-shadow: inset 0px 0px 0px #444;
	background: #FFFFFF url('../image/bg3.png');
}
#header .div2 {
	color: #FFFFFF;
	padding: 5px 0px 2px 0px;
	float: left;

}
#header .div3 {
	font-size: 12px;
	color: #FFF;
	text-align: right;
	padding: 0px 0px 0px 0px;
	float: right;
}
#header .div2 span {
	font-weight: bold;
}
#menu {
    font-family: Tahoma,Arial, Helvetica, sans-serif;
	background: #666;
	background-image:-webkit-linear-gradient(top, #777, #666);
	background:-moz-linear-gradient(top, #777, #666);
	background-image:-ms-linear-gradient(top,#777, #666);
	background:-o-linear-gradient(top,#777, #666);
	background-image:linear-gradient(top, #777, #666);
	position: relative;
	z-index: 1;
	height:60px;
	clear: both;
	padding: 5px 40px 10px 40px;
	min-width: 900px;
	box-shadow:0px 0px 1px #555;
	border-bottom:1px solid #777;
	border-top:1px solid #aaa;
}
#menu img:hover {
-webkit-filter: brightness(0.7);
filter: grayscale(100%);
-webkit-filter: grayscale(100%);}
#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
	border-right:1px dotted #555;
	border-left:1px dotted #555;

}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #fff;
	border-radius: 3px;
}
#menu > ul a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 5px;
	
	
}
#menu > ul li {
padding: 1px;
margin-left:2px;
}
#menu > ul > li + li {
	
}
#menu > ul .top, #menu > ul li li.sfhover {
	padding: 5px 15px 5px 15px;
	font-size:12px;
	color: #eee;
	text-align: center;
	
}
#menu > ul ul li {
	padding: 3px 2px 3px 0px;
	

}
#menu > ul .selected .top {

	color:#fff;
    background: #555;
	background-image:-o-linear-gradient(bottom, #555, #666);
	border-radius: 3px;
	-webkit-box-shadow:inset 0px 0px 3px #222;
	-moz-box-shadow:inset 0px 0px 3px #222;
	box-shadow:inset 0px 0px 3px #222;
	border-bottom: 1px solid #888;

}

#menu > ul :hover a.top, #menu > ul .sfhover a.top {
	color:#fff;
    background: #555;
	background-image:-o-linear-gradient(bottom,#555, #666);
	-webkit-box-shadow:inset 0px 0px 3px #222;
	-moz-box-shadow:inset 0px 0px 3px #222;
	box-shadow:inset 0px 0px 3px #222;
	border-bottom: 1px solid #888;
    border-radius: 3px;
}
#menu > ul .parent {
	background: url('../image/arrow-right.png') 95% center no-repeat;
	border-radius: 3px;
}
#menu > ul li {
	float: left;
	list-style: none;
	
}
#menu > ul li ul {

	position: absolute;
	-webkit-box-shadow: 0px 0px 4px #414753;
	-moz-box-shadow: 0px 0px 4px #414753;
	box-shadow: 0px 0px 4px #414753;
	font-size: 12px;

	
}
#menu  li ul li:first-child > a:after {
        content: '';
        position: absolute;
        left: 35px;
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
		
}

#menu  li ul li li:first-child > a:after {
        content: '';
        position: absolute;
        left: 35px;
        top: -6px;
        border-left: none;
        border-right: none;
        border-bottom: 6px solid #fff;
}
 
#menu > ul li li {
	clear: both;

}
#menu > ul li ul li {
	clear: both;
	background:#fff;
	border-radius: 3px;
}
#menu > ul li ul a {
	color: #777;
	height: 15px;
	width: 145px;

	
}
#menu > ul li ul ul {
	margin: -27px 0 0 157px;
	-webkit-box-shadow: 0px 0px 7px #414753;
	-moz-box-shadow: 0px 0px 7px #414753;
	box-shadow: 0px 0px 7px #414753;
	
	
}
#menu > ul li li:hover, #menu > ul li li.sfhover{ 
	color: #000;
}
#menu  ul li li:hover > a{
    background-image:-webkit-linear-gradient(bottom, #e5e5e5,#f2f2f2);   
    background-image:-moz-linear-gradient(bottom, #e5e5e5,#f2f2f2);   
    background-image:-o-linear-gradient(bottom, #e5e5e5,#f2f2f2);   
	color: #000;
}
#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
#content {

	padding: 10px 30px 0px 30px;
	min-width: 900px;
	padding-bottom: 128px;
	
}
#footer {
	height: 50px;
	padding-top: 15px;
	text-align: right;
	font-size: 11px;
	color: #888;
	position: relative;
	margin-top: -70px;
	margin-right: 20px;
	margin-left: 20px;
	clear: both;
	border-top:1px solid #ccc;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #84df6c url('../image/success.png') 10px center no-repeat;
	color: #000;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: inset 0px 0px 3px #5ca04a;
	-moz-box-shadow: inset 0px 0px 3px #5ca04a;
	box-shadow: inset 0px 0px 3px #5ca04a;
	border-bottom:1px solid #eee;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #ea8686 url('../image/warning.png') 10px center no-repeat;
	box-shadow: inset 0px 0px 3px #9a3f3f;
	border-bottom:1px solid #eee;
	color: #000;
	-webkit-border-radius: 5px 5px 5px 5px;	
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #F2DD8C url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #eee;
	color: #555555;
	box-shadow: inset 0px 0px 3px #aaa;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.help {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	border: 1px solid #EEEEEE;
	padding: 10px;
	display: inline-block;
}
.image img {
	margin-bottom: 5px;
}
.box {
	margin-bottom: 15px;
}
.box > .heading {
   
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border-bottom: 1px solid #ccc;
  
}
.box > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #222;
	font-size: 17px;
	float: left;
	font-weight:900;
    text-shadow: 1px 1px 1px #eee;
}
.box > .heading h1 img {
	float: left;
	vertical-align: middle;
	margin-top: 1px;
	margin-left: 3px;
	margin-right: 8px;

}
.box > .heading .buttons {
	float: right;
	padding-top: 7px;
	margin-right: 5px;
}
.box > .heading .buttons .button {
	margin-left: 5px;
}
.box > .content h2 { 
	text-transform: uppercase;
	color: #222;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 1px dotted #000000;	
}
.box > .content {
	padding: 10px;

	min-height: 300px;
	overflow: auto;
	
}
a.button, .list a.button {
	text-decoration: none;
	color: #000;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
/* padding: 5px 15px 5px 15px;
	background: #003A88;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 3px 3px 3px 3px;
	background-image:-moz-linear-gradient(top, #eee, #fff);
	background-image:-ms-linear-gradient(top, #aaa, #ccc);
	border-top:1px solid #ccc;
	background-image:-o-linear-gradient(top, #ccc, #fff);
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 1px 0 #aaa, 0 1px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 1px 0 #aaa, 0 1px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 1px 0 #aaa, 0 1px 2px rgba(0, 0, 0, .5);*/
	padding: 5px 5px 5px 5px;
	background: #eee;
	background-image:-webkit-linear-gradient(bottom, #eee, #f7f7f7);
	background-image:-moz-linear-gradient(bottom, #eee, #f7f7f7);
    background-image:-o-linear-gradient(bottom, #eee, #f7f7f7);
	border-radius: 3px;
    border: 1px solid #bbb;
	box-shadow: 0 0px 1px #aaa;
}
a.button:hover, .list a.button :hover{

color: #000;
	/*background-image:-o-linear-gradient(top, #999, #bbb);*/
	background-image:-webkit-linear-gradient(top, #d6e9fb, #aad2f7);
	background-image:-moz-linear-gradient(top, #d6e9fb, #aad2f7);
	background-image:-o-linear-gradient(top, #d6e9fb, #aad2f7);
    border: 1px solid #8dafce;
	-moz-box-shadow: inset 0 0px 2px #66aef1;
	-webkit-box-shadow: inset 0 0px 2px #66aef1;
    box-shadow: inset 0 0px 2px #66aef1;
}

.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list td {

    
}
.list thead td {
	background-color: #bbbbbb;
	background-image:-webkit-linear-gradient(top, #ccc, #bbb);
	background-image:-moz-linear-gradient(top, #ccc, #bbb);
	background-image:-o-linear-gradient(top, #ccc, #bbb);
	background-image:-ie-linear-gradient(top, #ccc, #bbb);
	padding: 0px 5px;
	border-top: 1px solid #eee;
	border-right: 1px solid #aaa;
    text-shadow: 1px 1px 1px #eee;
	-moz-box-shadow: 0px -1px 1px #ccc;
	-webkit-box-shadow: 0px -1px 1px #ccc;
	box-shadow: 0px -1px 1px #ccc;
	border-bottom: 1px solid #999;
	border-radius:2px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222;
	font-weight: bold;
	
}
.list tbody td a {
	text-decoration: underline;
}
.list tbody tr{
	background: #fff;

}
.list tbody tr:hover{
	background: #e5e5e5;
    background-image:-webkit-linear-gradient(bottom, #e5e5e5,#f2f2f2);   
    background-image:-moz-linear-gradient(bottom, #e5e5e5,#f2f2f2);   
    background-image:-o-linear-gradient(bottom, #e5e5e5,#f2f2f2);   


}

.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
	
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list tr.filter td {
	padding: 5px;
	background: #e7e7e7;
	border:1px solid #eee;
}
.pagination {
	border-top: 1px solid #DDDDDD;
	display: inline-block;
	width: 100%;
	padding-top: 6px;
}
.pagination .links {
	float: left;
	padding-top: 6px;
}
.pagination .links a {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 6px;
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form > tbody > tr > td:first-child {
	width: 200px;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.htabs {
	padding: 2px 0px 2px 10px;
	height: 30px;
	line-height: 15px;
	margin-bottom: 15px;
	border-radius: 3px 3px 0 0;
	
}
.htabs a {
   
	border-radius: 3px;
	padding: 7px 15px 7px 15px;
	float: left;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	color: #444;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
    color: #000;
	padding-bottom: 7px;
	-webkit-box-shadow: inset 0px 0px 3px #333;
	-moz-box-shadow: inset 0px 0px 3px #333;
	box-shadow: inset 0px 0px 3px #333;
	box-shadow: inset 0px 0px 3px #333;
	border-top: 1px solid #ddd;
	background:#ccc;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	border-radius: 3px;
	font-weight:900;
    text-shadow: 1px 1px 1px #eee;
}
.vtabs {

	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	float: left;
	display: block;
	border-right: 1px solid #aaa;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	display: block;
	float: left;
	width: 160px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 5px  0 0 5px;
	padding: 6px 14px 7px 15px;
	font-size: 12px;
	font-weight: 100;
	text-align: right;
	text-decoration: none;
	color: #777;
}
.vtabs a.selected {
	padding-right: 15px;
	border-bottom:1px solid #eee;
	border-top:1px solid #ccc;
	border-left:1px solid #eee;
    background: #ccc;
	color:#000;
	border-radius: 5px  0 0 5px;
	-moz-box-shadow: inset 0px 0px 3px #333;
	-webkit-box-shadow: inset 0px 0px 3px #333;
	box-shadow: inset 0px 0px 3px #333;
	color: #000000;
	
	
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 205px;
}
.accordion-heading {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.accordion-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.accordion-content {
	padding: 0px 0px 15px 0px;
	overflow: auto;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
.overview {
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 49%;
	margin-bottom: 20px;
	
}
.range {
	float: right;
	color: #000;
	vertical-align: middle;
	padding-top:10px;
	margin-bottom: 20px;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 11px;
}
.latest {
	clear: both;
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	/*border-top:1px solid #fff;
	background:#e5e5e5;
	color: #777;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom:none;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px -1px 1px #ccc;*/
	
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	padding: 15px;
	background-color: #bbb;
	background-image:-webkit-linear-gradient(top, #ccc, #bbb);
	background-image:-moz-linear-gradient(top, #ccc, #bbb);
	background-image:-o-linear-gradient(top, #ccc, #bbb);
	border-top: 1px solid #eee;
	border-right: 1px solid #aaa;
	text-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 0px -1px 1px #ccc;
	-moz-box-shadow: 0px -1px 1px #ccc;
	box-shadow: 0px -1px 1px #ccc;
	border-bottom: 1px solid #999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
}
.dashboard-content {
	background: #FCFCFC;
	border: 1px solid #ccc;
	padding: 10px;
	min-height: 180px;
	box-shadow: 0px 2px 5px #ccc;
}
.refresh {
	cursor: pointer;
	position: relative;
	top: 3px;
}
