<?php
#####################################################################################
#  Module TOTAL IMPORT PRO for Opencart 1.5.x From HostJars opencart.hostjars.com 	#
#####################################################################################
?>
<?php echo $header; ?>
<form action="<?php echo $action; ?>" method="post" name="settings_form" enctype="multipart/form-data" id="import_form">
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($success) { ?>
<div class="success"><?php echo $success; ?></div>
<?php } ?>
<script type="text/javascript">
function updateText() {
	$(".non_reset").show();
	if (document.settings_form.reset.value == '1') {
		$(".non_reset").hide();
	}
}
$(document).ready(function() {
	updateText();
});
</script>
<div class="box">
  <div class="heading">
    <h1><img src='view/image/feed.png' /><?php echo $heading_title; ?></h1>
	<div class="buttons"><?php echo $text_save_profile; ?><input type="text" name="save_settings_name" value=""><a onclick="$('#import_form').submit();" class="button"><span><?php echo $button_import; ?></span></a><a href="<?php echo $cancel; ?>" class="button"><span><?php echo $button_cancel; ?></span></a></div>
  </div>
  <div class="content">
	<div id="tabs" class="htabs"><!-- <a href="#tab_fetch">Step 1: Fetch Feed</a><a href="#tab_adjust"><?php echo $tab_adjust; ?></a><a href="#tab_global"><?php echo $tab_global; ?></a><a href="#tab_mapping"><?php echo $tab_mapping; ?></a> --><a href="#tab_import"><?php echo $tab_import; ?></a></div>
	    <div id="tab_import">
        <table class="form">
        	<!-- Reset Store -->
        	<tr>
        		<td><?php echo $entry_reset; ?></td>
        		<td>
        			<select name="reset" onchange="updateText();">
        				<option value="0"><?php echo $entry_no; ?></option>
        				<option value="1" <?php if (isset($reset) && $reset) echo 'selected="true"'; ?>><?php echo $entry_yes; ?></option>
        			</select>
        		</td>
        	</tr>
        	<!-- New Items -->
        	<tr class="non_reset">
        		<td><?php echo $entry_new_items; ?></td>
        		<td>
	        		<select name="new_items">
	        			<option value="add"><?php echo $entry_add; ?></option>
	        			<option value="skip" <?php if (isset($new_items) && $new_items == 'skip') echo 'selected="true"'; ?>><?php echo $entry_skip; ?></option>
	        		</select>       
        		</td>
        	</tr>
        	<!-- Existing Items -->
        	<tr class="non_reset">
        		<td><?php echo $entry_existing_items; ?></td>
        		<td>
        			<select name="existing_items">
        				<option value="update"><?php echo $entry_update; ?></option>
        				<option value="skip" <?php if (isset($existing_items) && $existing_items == 'skip') echo 'selected="true"'; ?>><?php echo $entry_skip; ?></option>
        			</select>
        		</td>
        	</tr>
        	<!-- Items in store, not in feed -->
        	<tr class="non_reset">
        		<td><?php echo $entry_delete_diff; ?></td>
        		<td>
        			<select name="delete_diff" onchange="updateText();">
        				<option value="ignore"><?php echo $entry_ignore; ?></option>
        				<option value="delete" <?php if (isset($delete_diff) && $delete_diff == 'delete') echo 'selected="true"'; ?>><?php echo $entry_delete; ?></option>
        				<option value="disable" <?php if (isset($delete_diff) && $delete_diff == 'disable') echo 'selected="true"'; ?>><?php echo $entry_disable; ?></option>
        			</select>
        		</td>
        	</tr>
        	<!-- Identify Existing Items -->
        	<tr class="non_reset">
        		<td><?php echo $text_identify_existing; ?></td>
        		<td>       	
					<select name="update_field">
						<option value="model"><?php echo $text_field_model; ?></option>	
						<option value="sku" <?php if (isset($update_field) && $update_field == 'sku') echo 'selected="true"'; ?>><?php echo $text_field_sku; ?></option>	
					</select>
				</td>
			</tr>
        </table>
       </div>
  </div>
</div><script type="text/javascript"><!--
$('#tabs a').tabs();
//--></script>
</form>
<?php echo $footer; ?>