<?php echo $header; ?>

<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
<?php echo $content_bottom; ?>
</div>
</div>
<?php echo $footer; ?>