.jcarousel-skin-opencart .jcarousel-container {
	margin:0 0 10px;
	width:940px;	
	margin-left:-22px;

}
.jcarousel-skin-opencart .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-opencart .jcarousel-item-horizontal img{
	border-radius:1000px;
	width:80px;

}



.img_border {
	margin-left:20px;
	margin-right:20px;
	padding:11px;
	padding-top:14px;
	overflow:hidden;
	width:100px;
	border-radius:100px;
    	background: none repeat scroll 0 0 #eee;
    	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out; 
	background: #E6E6E6;
	background: -moz-linear-gradient(top, #F9F9F9 0%, #E6E6E6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E6E6E6));
	background: -webkit-linear-gradient(top, #F9F9F9 0%,#E6E6E6 100%);
	background: -o-linear-gradient(top, #F9F9F9 0%,#E6E6E6 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%,#E6E6E6 100%);
	background: linear-gradient(top, #F9F9F9 0%,#E6E6E6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e6e6e6',GradientType=0 );


}


.img_border_1 {
	padding:1px;
	padding-top:10px;
	padding-bottom:8px;	
	border-radius:100px;
    	background: none repeat scroll 0 0 #fff;
    	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
}


.img_border:hover {
	background:#e9e9e9;
	box-shadow: 1px 1px 1px #999 inset;
}
.jcarousel-skin-opencart .jcarousel-container-horizontal {
	padding: 10px 40px;
	
}
.jcarousel-skin-opencart .jcarousel-clip {
	overflow: hidden;
	width: 100%;
}
.jcarousel-skin-opencart .jcarousel-clip-horizontal {
}
.jcarousel-skin-opencart .jcarousel-item {
	text-align: center;
}

.jcarousel-skin-opencart .jcarousel-item-horizontal ul {
	float:center;
	margin: 0 auto;
}


.jcarousel-skin-opencart .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;	
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-opencart .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-opencart .jcarousel-next-horizontal {
	position: absolute;
	top: 54px;
	right: 0px;
	width: 42px;
	height: 42px;
	cursor: pointer;
	background: url('../image/carousel-next.png') center no-repeat;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out; 
}

.jcarousel-skin-opencart .jcarousel-next-horizontal:hover {
	background: url('../image/carousel-next_hover.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background: url('../image/carousel-previous.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-horizontal:focus {
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:active {
}
.jcarousel-skin-opencart .jcarousel-next-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:active {
	cursor: default;
/*	background: none;*/
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal {
	position: absolute;
	top: 54px;
	left: 0px;
	width: 42px;
	height: 42px;
	cursor: pointer;
	background: url('../image/carousel-previous.png') center no-repeat;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out; 
}


.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover {
	background: url('../image/carousel-previous_hover.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 0px;
	background: url('../image/slide_next.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-horizontal:focus {
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
/*	background: none;*/
}