/*
 * jQuery Nivo Slider v2.5.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display: none;
	width:100%;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/* slider theme */
.slideshow {
	margin-bottom: 20px;

}
.slideshow a {
	border: 0;
	display: block;
}
.nivo-controlNav {
	position: absolute;
	right: 10px;
	bottom: 5px;
	text-align: center;
	height: 22px;
	z-index: 99;
}
.nivo-controlNav a {
	vertical-align: top;
	display: block;
	width: 22px;
	height: 22px;
	background: url('../image/bullets.png') no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}
.nivo-directionNav a {
	display:block;
	width:45px;
	height:63px;
	background:url('../image/new_arrows_sprite.png') no-repeat;
	text-indent:-9999px;
	border:0;
	margin-top:-15px;

}

a.nivo-nextNav {
	background-position:-45px 0px;
	right:-10px;
}
a.nivo-nextNav:hover {
	background-position:-45px -64px;
	right:-10px;
}
a.nivo-prevNav:hover {
	background-position:0 -64px;
	left:-10px;
}
a.nivo-prevNav {
	left:-10px;
}
.nivo-caption {
	text-shadow:none;
	font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
	color:#efe9d1;
	text-decoration:underline;
}

/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Image Width: 568
Image Height: 268
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/

.theme-orman.slider-wrapper {
    background: #333 url(../image/slider_pattern.png) repeat-x;
    height:304px;
    margin:0 auto;
    padding-top:18px;
    position:relative;
    margin-top:-15px; 
    border-top:solid 1px #3f3f3f;
    border-radius: 0 0 2px 2px;
    max-width:1000px;

}

.theme-orman .nivoSlider {

    height:300px;
    max-width:970px;
    margin-left:9px;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.theme-orman .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:568px; /* Make sure your images are the same size */
    height:268px; /* Make sure your images are the same size */
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}

.theme-orman .nivo-controlNav {	
    	margin: 0 auto;
	width:200px;
	left:60px;
	margin-bottom:-37px;
}

.controlNav_box {
	background: url(../image/controlnav.png) no-repeat center;
	width:251px;
	height:40px;
	margin: 0 auto;
	margin-top:-17px;
}
.theme-orman .nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(../image/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
    float:left;
}
.theme-orman .nivo-controlNav a.active {
      background-position:0 -22px;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width:25px;
	height:200px;
	background:url(../image/arrows.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
    	top:30px;
}
.theme-orman a.nivo-nextNav {
	background-position:100% 50%;
	right:0px;
    	padding-right:20px;
	margin-top:5px;
}
.theme-orman a.nivo-prevNav {
	left:0px;
    	padding-left:20px;
	margin-top:5px;
}

.theme-orman .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
    border-top: solid 1px #333;
}
.theme-orman .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-orman .nivo-caption a:hover { 
    color:#fff;
}

.theme-orman .ribbon {
    background:url(../image/ribbon.png) no-repeat;
    width:111px;
    height:111px;
    position:absolute;
    top:13px;
    left:12px;
    z-index:70;
}
