html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background: #DBD8D8 url(../image/body_bg.jpg);
	
}

body a {
	outline:0;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	padding: 8px;
    	color: #383838;
    	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    	font: 38px ProximaNovaSoft,sans-serif;
    	letter-spacing: -1px;
    	padding: 0;
}



h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #38B0E3;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 6px;
}
label {
	cursor: pointer;
}
.linkz {

	top:0;
	background:#2b2a28 url(../image/linkz_menu.png) repeat-x;
	margin: 0 auto;
	border-bottom: solid 3px #eb4e01;

}

.linkz ul {
	padding:17px;
	padding-bottom:6px;
	border-radius:3px;
	margin: 0 auto;
	width:986px;
	padding-left:1px;
        background: url(../image/linkz_sep.png) repeat-y left;
 	overflow:hidden;




}

.linkz ul li{
	color:#fff;
	list-style:none;
	float:left;
	font-size:12px;
	padding-top:15px;
	position:relative;



}
.linkz ul li a{
	color:#bababa;
	text-decoration:none;
	padding:34px 23px;
	cursor:pointer;
	border-top:none;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;	
	text-shadow: 0 1px 0 #303030;

}

.linkz ul li a:hover{
	color:#ccc;

}
 
.linkz ul li a.home{ 
	background:  url(../image/home.png) no-repeat top center;
	border-right: solid 1px #4c4c4c;

}

.linkz ul li a.wishlist{ 
	background: url(../image/wish_list.png) no-repeat top center;
	border-right: solid 1px #4c4c4c;
	border-left: solid 1px #2d2d2d;
}

.linkz ul li a.account{ 
	background: url(../image/account.png) no-repeat top center;
	border-right: solid 1px #4c4c4c;
	border-left: solid 1px #2d2d2d;
}


.linkz ul li a.cart{ 
	background: url(../image/cart.png) no-repeat top center;
	border-right: solid 1px #4c4c4c;
	border-left: solid 1px #2d2d2d;
}

.linkz ul li a.checkout{ 
	background: url(../image/checkout.png) no-repeat top center;
	border-right: solid 1px #4c4c4c;
	border-left: solid 1px #2d2d2d;
}

.linkz ul li:nth-child(1).active a{ 
    	color:#fff;
	background:  #eb4e01 url(../image/home_active.png) no-repeat top center;	
	text-shadow:none;
}


.linkz ul li:nth-child(2).active a{ 
    	color:#fff;
	background:  #eb4e01 url(../image/wish_list_active.png) no-repeat top center;	

}

.linkz ul li:nth-child(3).active a{ 
    	color:#fff;
	background:  #eb4e01 url(../image/account_active.png) no-repeat top center;	

}

.linkz ul li:nth-child(4).active a{ 
    	color:#fff;
	background:  #eb4e01 url(../image/cart_active.png) no-repeat top center;	

}

.linkz ul li:nth-child(5).active a{ 
    	color:#fff;
	background:  #eb4e01 url(../image/checkout_active.png) no-repeat top center;	

}


.linkz ul li.active a{
	background-color:#eb4e01;
}

.linkz ul li a.home:hover,
.linkz ul li a.wishlist:hover,
.linkz ul li a.account:hover,
.linkz ul li a.cart:hover,
.linkz ul li a.checkout:hover
{
	background-color:#333;
}


.linkz ul li.active a:hover{
	background-color:#da4902;
}


#here{
	float:left;
	height:43px;	
	background:url('../image/here-arrow.png');
	background-repeat:no-repeat;
	background-position:50% 34px;
	color:#fff;
	text-shadow: 0 0 0 transparent, 0 1px rgba(29, 29, 29, 0.2);
	line-height: 24px;
 
	font-weight:bold;


}

#here.active{
	color:#444;
	padding:10px;
}



/* layout */
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	


}
#container_bg {

	width:980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
   	background: #E3E3E2;
	border: solid 6px #ccc;
	margin-bottom:-100px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding-top:17px;
	margin-top:10px;



	
}
#column-left {
	float: left;
	width: 180px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	min-height: 400px;
	margin-bottom: 125px;

	
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 195px;
}
#column-right + #content {
	margin-right: 195px;
}
/* header */
#header {
	height: 90px;
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;

}
#header #logo {
	position: absolute;
	top: 25px;
	left:-7px;

}
#language {
	position: absolute;
	top: 15px;
	left: 335px;
	width: 75px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
#currency {
	width: 150px;
	position:absolute;
	top: -52px;
	left: 870px;
	padding:6px;
        height:23px;
	line-height:1px;

	z-index:-100;

}
#currency a {
	display: inline-block;
	padding: 13px;
	color: #fff;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top:2px;
	margin-left:1px;
	border-radius:3px;
    	background-color: #333;
    	border: 1px solid #0e0e0e;
    	background-color: rgba(0, 0, 0, 0.5);
    	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);		
    	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);


}
#currency a:hover {
	background:#333;
	color:#eee;
}
#currency a b {
	color: #ccc;
	text-decoration: none;
}


#currency a.active{
	background:#252525;
}


#header #cart {
	position: absolute;
	top: 2px;
	right: 32px;
	z-index: -99;
	min-width: 300px;

	


}
#header #cart .heading {
	float: right;
	margin-right: 152px;
	margin-top: 37px;
	padding-top:9px;
	position: relative;
	z-index: 1;
	padding-bottom:8px;
	font-weight:bold;

}

#header #cart .heading {
	float: right;
	margin-right: 152px;
	margin-top: 40px;
	padding-left: 40px;
	padding-right: 18px;
	padding-top:9px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position: relative;
	z-index: 1;
	padding-bottom:8px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	font-weight:bold;
	border: solid 1px #ccc; 	
	background: #f5f5f5 url(../image/cart_heading.png) no-repeat left center;
}
#header #cart .heading h4 {
	background:#ccc;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

#header #cart .heading a {
	color: #888;
	text-decoration: none;
	text-shadow: 0 1px #fff;
}
#header #cart .heading a span {
	padding-right: 15px;
		
}
#header #cart .content_back {
	position:relative;
	top: -1px;
	padding: 6px;
	min-height: 150px;
	border: 1px solid #292a2c;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background: #f5f6f7;
	color:#444;
	
}

#header #cart .content {
	clear: both;
	display: none;
	position:relative;
	margin-right: -42px;
	padding: 8px;
	padding-top:10px;
	min-height: 150px;
	border: 1px solid #242625;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	color:#444;
	background: #37383b url(../image/cart_content_out.png) repeat-x;
	margin-top:90px;
	z-index:99;
}


#header #cart.active .heading {
	float: right;
	margin-right: 152px;
	margin-top: 40px;
	padding-left: 40px;
	padding-right: 18px;
	padding-top:9px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position: relative;
	z-index: 1;
	padding-bottom:8px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	font-weight:bold;
	border: solid 1px #ccc; 	
	background: #f5f5f5 url(../image/cart_heading.png) no-repeat left center;
}

#header #cart.active .heading a{
	color:#025881;
}
#header #cart.active .content {
	display: block;
	border: solid 1px #242424;
	
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .cart td {
	color: #d20000;
	vertical-align: top;
	padding: 10px 5px;
	background:#f5f6f7;
	border-bottom: solid 1px #dfe5eb;
	font-weight:bold;
	
}


#header #cart .cart td a{
	color:#333;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 1px #fff;
}
#header #cart .cart .image {
	width: 1px;
	
}
#header #cart .cart .image img {
	text-align: left;
	padding:5px;
	padding-top:0px;
}
#header #cart .cart .name small {
	color: #444;
}
#header #cart .cart .quantity {
	text-align: right;
}
#header #cart .cart td.total {
	text-align: right;
}
#header #cart .cart .remove {
	text-align: right;
}
#header #cart .cart .remove img {
	cursor: pointer;
	padding-right:20px;
}
#header #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total td {
	color: #444;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position:absolute;
	top: 40px;
	right: -9px;
	width: 180px;
	z-index: -15;
	color:#333;
}


.button-search {	
	left: 0px;
        display: block;
        height: 31px;
	cursor: pointer;
	width: 36px;
	margin-top:2px;
   	margin-left: 140px;
	margin-bottom: -32px;
	position: relative;
        
}
#search input {    
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset;
    border-radius: 3px;
    padding: 8px;
    width: 150px;
    color:#777;
    padding-left:15px;
    background:#333;
     box-shadow:  inset 1px 1px 1px rgba(255, 255, 255, .5),1px 1px 0px rgba(255, 255, 255, .3);
    box-shadow: 0 0 1px #FFFFFF inset;
    height: 14px;
    border: 3px solid #ccc;
    background:#fff url("../image/search.png") no-repeat right;        
    float: left;
    margin: 0;
    font-weight: normal;
    font-family: Helvetica,Arial;
    font-size: 14px;

}



#search input:focus {
	background:#fff url("../image/search.png") no-repeat right;
}  
#welcome {
	
	
	float:right;
	top: -41px;
	z-index: 5;
	width: 340px;
	text-align: right;
	color: #999;
	padding:5px;
	font-weight:bold;
	margin-right:103px;
	height:33px;
	position:relative;

	
}

#welcome a{
	color:#999;
	padding:6px;
	padding-left:12px;
	padding-right:12px;
	text-decoration:none;
	text-shadow: 0 1px #111;
	border: solid 1px #222;
	margin-left:7px;
	border-radius:3px;
    	background-color: #333;
    	border: 1px solid #0e0e0e;
    	background-color: rgba(0, 0, 0, 0.4);
    	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);		
    	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
	
}

#welcome a.login,
#welcome a.register,
{
	color:#999;
	padding:6px;
	padding-left:12px;
	padding-right:12px;
	text-decoration:none;
	text-shadow: 0 1px #111;
	border: solid 1px #222;
	margin-left:7px;
	border-radius:3px;
    	background-color: #333;
    	border: 1px solid #0e0e0e;
    	background-color: rgba(0, 0, 0, 0.4);
    	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);		
    	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

#welcome a.avatar {
	background: url(../image/avatar.png) no-repeat left;
	padding-left:35px;
    	background-color: rgba(0, 0, 0,0.3);
    	-moz-box-shadow:inset 0 0 1px rgba(0, 0, 0,0.5);
    	-ms-box-shadow:inset 0 0 1px rgba(0, 0, 0,0.5);
    	-webkit-box-shadow:inset 0 0 1px rgba(0, 0, 0,0.5);

}

#welcome a.avatar:hover{
	background: url(../image/avatar.png) no-repeat left;
	padding-left:35px;
	border-radius:3px;
	border: solid 1px #ccc;
	text-shadow:0 1px 0 #fff;
	border-color:#ccc;
	border-bottom-color:#aaa;
	background-color:#e0e0e0;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffffff,EndColorStr=#ffe0e0e0);
	background:url(../image/avatar.png) no-repeat left-moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:url(../image/avatar.png) no-repeat left-ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:url(../image/avatar.png) no-repeat left-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:url(../image/avatar.png) no-repeat left-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background:url(../image/avatar.png) no-repeat left-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:url(../mage/avatar.png) no-repeat leftlinear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	-moz-box-shadow:inset 0 0 1px #fff;
	-ms-box-shadow:inset 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 1px #fff;box-shadow:inset 0 0 1px #fff;
}

#welcome a:hover{
	border-radius:3px;
	border: solid 1px #ccc;
	text-shadow:0 1px 0 #fff;
	border-color:#ccc;
	border-bottom-color:#aaa;
	background-color:#e0e0e0;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffffff,EndColorStr=#ffe0e0e0);
	background:-moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:-ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	-moz-box-shadow:inset 0 0 1px #fff;
	-ms-box-shadow:inset 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 1px #fff;box-shadow:inset 0 0 1px #fff;
}


#header .links_sp {
	top:138px;
	left:0px;
	height:39px;
	float:left;
	width:980px;	
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding:8px;
	background:#333;
	background: url('../image/body_bg.png');
	background-position:0 -138px;
	margin-bottom:-5px;
	padding-bottom:10px;
	padding-top:10px;	`

}


#header .links_sp a {
	float: left;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	margin-top:8px;
	padding:4px;
	color:#fff;
	margin-left:-5px;

}

#header .links_sp a:active {
color:#000;
}
#header .links_sp a:hover {	
	color:#ccc;
}

#header .links_sp a + a {
	margin-left: 8px;
	margin-right: 8px;
	padding-left:10px;
	
	
	
}
.breadcrumb {
	color: #fff;
	margin-bottom: 15px;
	padding:10px;
	background:#ebedf0;	
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	border:solid 1px #c9ccd7;
	border-radius:4px;

}


.breadcrumb a{
	padding:8px;
	color:#333;
	text-decoration:none;
	background: url(../image/breadcrumb_arrow.png) no-repeat right;
	padding-right:15px;
	height:35px;
	

}
.breadcrumb a + a {margin-left:-13px;border-left: none;}



.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.information {
	background: #E8F6FF url('../image/information.png') 10px center no-repeat;
	border: 1px solid #B8E2FB;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	padding:10px;
  	color: #444444;
    	line-height: 19px;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
table.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #337fed;  
	font-weight: bold;
    	height:20px;
    	padding: 4px;
	padding-left:8px;
	padding-right:8px;
    	text-align: center;
    	margin-right:-0px;
    	color: #FFFFFF !important;
    	display: inline-block;
    	font-family: arial;
    	text-decoration: none;
    	text-shadow: 1px 1px 0 #1570CD;
	line-height:20px;

}
a.button:hover,#button-confirm:hover  {
	background: #3d94f6;
}
a.button span {
	color: #eee;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	text-shadow: 0 1px 0 #111;
	line-height:6px;

}

#button-confirm {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #337fed;  
	font-weight: bold;
    	padding: 4px;
	padding-left:8px;
	padding-right:8px;
    	text-align: center;
    	margin-right:-0px;
    	color: #FFFFFF !important;
    	display: inline-block;
    	font-family: arial;
    	text-decoration: none;
    	text-shadow: 1px 1px 0 #1570CD;
	line-height:20px;

}
}

.buttons {

	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;	
}
.htabs a {
    	background-color: #E0E0E0;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	border-bottom:none;	
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #eee;
}
.tab-content {
    	background-color: #fff;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;   
	color: #333;
    	font-size: 12px;
    	line-height: 1.9;

}
/* box */
.box {
	margin-bottom: 40px;
	background: url(../image/pattern.png);
	padding:6px;
	border-radius:4px;
	border: 1px solid #C6C6C3;
	box-shadow: 1px 1px 1px white inset;


}
.box .box-heading {
	
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #edece8 url(../image/featured_bg.gif);
    border: 1px solid #c6c6c3;
    box-shadow: 1px 1px 1px #FFFFFF inset;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    padding: 12px 12px 5px;
    text-shadow: 0 1px #FFFFFF;
}


.box .box-heading_left {
	    
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #edece8;
    border: 1px solid #c6c6c3;
    color: #555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height:25px; 
    padding: 12px 12px;
    padding-top:6px;
    padding-bottom:6px;
    text-shadow: 0 1px #fff;
    padding-left:0px;
    border-radius: 3px 3px 0 0;

}

.box .box-heading_side {
	
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #BBB #BBB;
border-style: solid solid none;
border-width: 1px 1px medium;
box-shadow: 1px 1px 1px white inset;
color: #666;
font-family: Arial,Helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
line-height: 22px;
padding: 10px 10px 6px;
text-shadow: 0 1px white;
border-bottom: solid 1px #ccc;
background: #eaeaea url(../image/box_heading_bg.png) repeat-x;
    
}

.box .box-heading_left h3 {
    background:#eee url(../image/pattern.png);
    color: #999;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    padding-left:8px;
    padding-right:4px;
    text-transform:uppercase;
    text-shadow: 0 1px #fff;
    overflow:hidden;
    width:100%;
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #ccc;

}


.box .box-heading_center {
	
	background: url(../image/box_heading_center.png) no-repeat left;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	margin-left:-8px;
	height:25px;
	width:971px;
}


.box .box-content {
	background: #f9f9f9;
    	border: 1px solid #c6c6c3;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	border-top:none;
	padding: 10px;

}
/* box products */
.box-product {
	width: 100%;
	overflow: hidden;
}


.box-product > div {
	width: 135px;
	display: inline-block;
	vertical-align: top;
	margin-right: 86px;
	margin-left: 13.9px;
	margin-bottom: 0px;
	margin-top:10px;

}

div#sale {
    background: url("../image/sale_tag.png") no-repeat scroll 0 0 transparent;
    height: 64px;
    margin: -204px 0px 0px -2px;
    position: absolute;
    width: 64px;
    z-index: 100; 
	


}

.box-product .image {
	display: block;
	width: 202px;

}

.box-product .out_bg {
 	background: #f7f7f7;
    	border: 1px solid #e6e5e5;
    	border-collapse: separate;
    	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding:5px;
	display: block;
	width: 202px;
	padding-bottom:6px;
}


.box-product .image img {	
 	background: #fff;
    	border: 1px solid #e6e5e5;
    	border-collapse: separate;
	width: 190px;
	margin-bottom:-4px;
	padding:5px;
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out; 

	
}

.box-product .image img:hover {
	opacity:.8;
}

.box-product .name a {
	color: #555;
	font-size: 14px;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	display: block;
	padding:0px;
	padding-left:5px;
	margin-top:4px;
	font-weight:bold;

}

.box-product .name a:hover {
	background:none;
}
.box-product .price {
    	color: #fff;
    	display: block;
    	font-size: 12px;
    	margin-bottom: 6px;
    	text-decoration: none;
    	margin-left:3px;
    	float:left;
    	margin-top:-65px;
	background:#e83d02;
    	padding:5px;
    	font-weight:bold;
  

}

.box-product .priced ul {
	overflow:hidden;
    	margin-top:4px;
	background:#fff;
	width:201px;
	color:#555;
	height:28px;
	border-right: solid 1px #e6e5e5;
	border-bottom: solid 1px #e6e5e5;

}

.box-product .priced ul li:first-child{
	background:#fff;
}

.box-product .priced ul li{
	padding:7px;
	border-left: solid 1px #e6e5e5;
	float:left;
	list-style:none;
	font-size:11px;
	font-weight:bold;
}


.box-product .priced ul li a{	
	color:#888;
	text-decoration:none;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out; 


}

.box-product .priced ul li.space {
	padding-left:0px;
	padding-right:0px;
	float:right;
}
.priced ul li a.cart_feat {
	background:#fff url(../image/cart_feat.png) no-repeat left;
	padding:14px;
	padding-right:18px;
	
}

.priced ul li a.compare_feat {
	background: #fff url(../image/compare_feat.png) no-repeat left;
	padding:14px;
	padding-left:22px;

}

.priced ul li a.wishlist_feat {

	background: #fff url(../image/wishlist_feat.png) no-repeat left;
	padding:14px;
	padding-left:22px;

}


.priced ul li a.cart_feat:hover,.priced ul li a.compare_feat:hover,.priced ul li a.wishlist_feat:hover {
	background-color:#eee;

}
.box-product.priced ul li a:hover{
	color:#777;
	background-color:#eee;
}	


.box-product .cart {
	color:#111;
	float:right;	
	margin-top:-87px;
	
}

.box-product .cart a{
 	background:#555;
 	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #888;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444), color-stop(1, #222) );
	background:-moz-linear-gradient( center top, #444 5%, #222 100% );
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	border-radius:0px;
	border:1px solid #e6e5e5;  
	border-left: solid 1px #333;
	font-weight: bold;
    	height:20px;
    	padding: 2px;
    	text-align: center;
    	width:70px;
    	margin-right:-0px;
    	color: #FFFFFF !important;
    	display: inline-block;
    	font-family: arial;
    	text-decoration: none;
    	text-shadow: 1px 1px 0 #1570CD;
	line-height:20px;

}
.box-product .cart a span{
	color: #eee;	
	text-indent:-999999;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
	text-shadow: 1px 1px 0 #111;
	line-height:6px;


}
.box-product .cart a:hover{
	background:#fff;
	color:#ffffff !important;
	background:#333;
}	

.box-product .price-old {
	color: #444;
	text-decoration: line-through;
	font-size:9px;	
	margin-left:-10px;
	padding-left:10px;
	margin-bottom:-2px;
	margin-top:10px;

}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	position:absolute;
	margin-left:116px;
	margin-top:-100px;
}
/* box category */
.box-category {
	margin-top: -14px;
	margin-left:3px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 11px;
	font-weight: bold;
	margin-left:-14px;
	background-color: #FAFAFA;
    	border: 1px solid #ccc;
	width:144px;

	
}
.box-category > ul > li:hover {
	background:#444 url(../image/sidebar_arrow.png) no-repeat left;
	width:138px;
	padding-left:16px;
}
.box-category > ul > li:hover a {
	color:#fff;
}


.box-category > ul > li + li {
	border-top: 1px solid #fff;
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #555;
	font-weight:normal;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	
	font-size:11px;
	
}

.box-category > ul > li a.active + ul {
	display: block;

}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#777;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;

    	background-color: #eee;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	

}


form h2{
	color:#444;	
	padding:10px;
}
#content .content .left {
	float: left;
	width: 49%;
}

#content .content p{

	padding:2px;
	
}
#content .content li {
    	background-color: #e0e0e0;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	list-style:none;
	padding:10px;
	margin-left:20px;
	margin-right:5px;
	margin-bottom:5px;
}

#content .content li:hover {
	background:#eee;
}

#content .content li a{
	color:#444;
	text-shadow: 0 1px #fff;
	font-weight:bold;
	text-decoration:none;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
	margin-top:20px;
        background: none repeat scroll 0 0 #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	padding:10px; 
    	font-size: 12px;
    	line-height: 18px;
    	padding: 12px 15px 11px;
    	text-shadow: 0 0 0 transparent, 0 1px rgba(29, 29, 29, 0.2);
    	z-index: 6;
   	color: #4D4D4D;


}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;

}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
	margin-left:0px;
}

.category-list ul li{
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	padding:5px;
	list-style:none;
	margin-right:5px;
	margin-bottom:5px;
	border-radius:3px;

}

.category-list ul li a{
	color:#555;
	text-decoration:none;
	font-weight:bold;
	
}

.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}

.manufacturer-list ul li a{
	color:#444;
	text-decoration:none;
	font-weight:bold;
}
/* product */
.product-filter {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 14px 10px;
	line-height: 30px;
	margin-bottom: 30px;	
	overflow: hidden;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
}

.product-filter .display .cat_nav {
	float: right;	
	margin-left: 4px;
}
.grid {
	background:#333;
}

.product-filter .sort {
	float: right;
	color: #333;
	text-align:left;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-filter .sort .btn-drop,
.product-filter .limit .btn-drop {
	margin-left: 4px;
	position: relative;
	top: 2px;
	float: right;
}
.product-compare {
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
	float:left;
	color:#666;
}
.product-list {
	margin-bottom: 20px;
	background: #f4f4f4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
}
.product-list .struct {
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 20px;
	border-top: solid 1px #ccc;
}

.product-list .struct:nth-child(2n-1)
{
	background:#fff;
	

}

.product-list .struct:first-child {
	padding-top:15px;
	border-top:none;
}

.product-list .struct:hover {
	background:#eee;
}


.product-list > div {
	overflow: auto;
	padding:7px;

}
.product-list .right {
	float: right;
	margin-left: 15px;	
}
.product-list > div + div {

	padding-top: 16px;
}
.product-list .image {
	margin-right: 15px;
	padding-right: 10px;
	float: left;
}
.product-list .image img {
	display: block;

}
.product-list .name {
	padding-top: 6px;
	display: block;
	padding-bottom: 12px;
	font-size: 14px;
}
.product-list .name a {
	color: #222;
	font-weight:bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color:#444;

}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	font: 15px Arial;
	margin-top: 15px;	
	margin-bottom: 15px;
	color:#444;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}

.product-grid {
	overflow: auto;

}
#column-left + #content .product-grid {
	width: 850px !important;
	overflow: auto;

}
.product-grid > div {
	display: inline-block;
	vertical-align: top;
	position:relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out; 
	border:1px solid #eeeeee; 
	background-color:#fafafa; 
	margin: 0px 7px 15px 0px; 
	padding:4px;
	overflow: auto;
	margin-bottom: 4px;
	background: #f4f4f4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	margin-right:20px;

}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 34px;
	background:#fff;
}
.product-grid .name a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	width: 150px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .description {display: none;}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
	padding: 5px;
}
.product-info > .left {
	float: left;
	margin-right: 13px

	
}
.product-info > .left + .right {margin-left: 255px;}

.product-info .image {
	padding:3px;
	float: left;
	margin: -1px;
	margin-bottom: 12px;
	text-align: center;
}
.product-info .image img {display: block;}
.product-info .image-additional {
	width: 257px;
	margin-left: -15px;
	padding-top: 2px;
	clear: both;
	overflow: hidden;

}
.product-info .image-additional img {display: block;}

.product-info .image-additional a {
	border: 1px solid #ededed;
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02);
   	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02);
	margin: -1px;
	float: left;
	display: block;
	margin-left: 14px;
	margin-bottom: 14px;
	padding:7px;
	background:#fff;
}
.product-info .image-additional a:hover {

	opacity:0.6;
}

.product-info .image-additional a:hover img {border-radius: 3px;}

.product-info .description {
	border-bottom: 1px solid #e7e7e7;
	padding: 2px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #025881;
	font-weight:bold;
	line-height:25px;
}
.product-info .description span {color: #333;}
.product-info .description a {color: #025881;text-decoration:none;font-weight:bold;}

.product-info .price {
	overflow: auto;

	padding: 0px 10px 10px 10px;
	font-size: 12px;
	color: #333333;background:none;
}
.product-info .price-old {
	color: #cc2929;
	text-decoration: line-through;
	font: 16px;
}
.product-info .price-new {
	font: 20px;
	color: #5c94cc;	
	font-weight:bold;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
	margin-top:-10px;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #e7e7e7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #e7e7e7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart .quantity {
	width: 40px;
	text-align: center;
}
.product-info .cart .wishlist,
.product-info .cart .compare {
	color: #444;
	cursor: pointer;
	background: url('../image/plus.png') 0px center no-repeat;	
	padding-left: 10px;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4d4d4d;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #e7e7e7;
	line-height: 20px;
}
.product-info .review > div > span {color: #38B0E3;}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}

.product-info .review > div a {
	color:#444;
	text-decoration:none;
}
.product-info .review .share a {text-decoration: none;}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {float:left;
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
	color:#444;
	text-decoration:none;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
    	background-color: #e0e0e0;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	padding:10px;

}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;

  	color: #444444;
    	line-height: 19px;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;  	
	background-color: #e0e0e0;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
	padding:10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;

}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;

}
.cart-info td {    	
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding:3px;

	padding: 7px;
}
.cart-info td a{
	color:#444;
	line-height:19px;
	text-decoration:none;
	font-weight:bold;
	text-shadow: 0 1px #fff;
	padding:3px;
} 


.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
	cursor: pointer;
	background:  url('../image/arrow-right.png') 10px 50% no-repeat;
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
}
.cart-module .active {
	background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}


.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 6px;
}
.checkout-content .right {
	float: right;
	width: 48%;
	font-weight:bold;
	line-height:10px;

	padding: 6px;
}

.checkout-content .right a{
	color:#444;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 8px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 8px;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
    	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 8px;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {    	
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}

.sitemap-info .left li a, .sitemap-info .right li a {
	color:#444;
	text-decoration:none;
	font-weight:bold;
	line-height:20px;
}

.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding-top: 20px;
	border-top: 1px solid #111;
	background: #212121;
	
}

#footer_bg {
	width:1000px;
	margin: 0 auto;
}
#footer h3 {

    color: #999;
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-top: 0;
    padding: 7px;
    text-transform:uppercase;
    text-shadow: 0 1px #111;


}
#footer .column {

	float: left;
	width: 25%;
	min-height: 100px;
	background: url(../image/separator.png) no-repeat left top;
	margin-bottom:12px;
	

}


#footer .column ul {
	margin-top: -6px;
	margin-left: 8px;
	padding-left: 15px;


}


#footer .column ul li {
	color:#ccc; 
	font: 13px Tahoma,Geneva,sans-serif;
	text-shadow: 0 1px #111;
	padding:4px;
	margin-left:0px;
	list-style:none;
}
#footer .column a {
	text-decoration: none;
	color: #999;
	
}
#footer .column a:hover {
	text-decoration: none;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
	font-weight:bold;
	background:#191919;
	padding:10px;
	border-top: solid 2px #111;
	margin: 0 auto;
	
}

#powered_bg {
	margin-top: 5px;
	text-align: right;
	clear: both;
	font-weight:bold;
	background:#191919;
	margin: 0 auto;
	width:990px;
	color:#eee;
}


#powered_bg a{
	color:#fff;
	text-decoration:none;
}

/* banner */
.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}


.links_menu a
{
color:#fff;
}
.jcarousel-skin-opencart {
    padding:10px;
    padding-bottom:0px;
    margin-left: 0;
    margin-right: 10px;

}


div#featured {
    background: url("../image/featured_ribbon.png") no-repeat scroll 0 0 transparent;
    height: 112px;
    margin: -18px 0 0 -18px;
    position: absolute;
    width: 131px;
    z-index: 19;
}

div#slide_left_arrow{
    background: url("../image/slide_left_arrow.png") no-repeat scroll 0 0 transparent;
    height: 52px;
    height:50px;
    margin: 120px 0 0 -24px;
    position: relative;
    width: 131px;
    float:left;
   z-index: 19;
}

div#slide_right_arrow{
    background: url("../image/slide_right_arrow.png") no-repeat scroll 0 0 transparent;
    height: 52px;
    height:50px;
    margin: 120px 0 0 -24px;
    position: relative;
    width: 131px;
    float:right;
    z-index: 19;
    margin-right:-100px;

  

   
}




input[type="text"], input[type="password"], textarea{
	padding:8px;
   	background-color: #eee;
    	border: 1px solid #BBBBBB;
   	box-shadow: 1px 1px 1px #FFFFFF inset;

	border-right: solid 1px #C6C6C6;
	border-left: solid 1px #C6C6C6;
	border-top: solid 1px #CECECE;
	border-bottom: solid 1px #A4A4A4;
	font-size: 13px;
	width: 250px;
	font-family: Helvetica, Arial;
	box-shadow: 0 1px 1px lightGrey;
	-mox-box-shadow: 0 1px 1px #D3D3D3;
	-webkit-box-shadow: 0 1px 1px lightGrey;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:#fff;
	font-weight:bold;
	color:#025881;
}

body#home a#home_link{
color: #000;
background: #fff;
} 


#navbar a:active {
color: #fff;
background: #333;
}
#navbar a:hover {
color: #888;
height:31px;
background: url(../image/active.png) no-repeat bottom;

} 


/* menu */
#menu {
	background: #222 url(../image/catmenu.png) repeat-x;
	border-bottom: none;
	height: 46px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px;
	padding: 0px 0px;
	width:1000px;
	margin-left:-10px;
	margin-top:20px;

}



#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;


}
#menu > ul > li:first-child {
	border-left:none;
	border-radius: 3px 0 0 0;

}


#menu > ul > li {
	position: relative;
	float: left;
	z-index: 98;
	background: url(../image/cat-sep.gif) no-repeat right;
}

#menu > ul > li:hover {
	background: #262626;
}
#menu > ul > li > a {
	line-height: 20px;
	text-decoration: none;
	display: block;
	z-index: 6;
	position: relative;
    	border-bottom: 1px solid transparent;
    	color: #BBB;
    	display: inline-block;  
	padding: 15px 20px 10px;
    	text-shadow: 1px 1px 1px #000000;

}

#menu> ul > li a.home{
	background: url(../image/home.png) no-repeat center top;
	width:26px;
	height:18px;
	
}

#menu > ul > li > div {
	margin-left:-2px;
	display: none;
	position: absolute;
	z-index: 25;
	border: 1px solid #181717;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background:#262626 url(../image/sub_menu_d.png);
	margin-top:0px;
	border-top:none;
}

#menu > ul > li:first-child div{
	margin-left:0px;
}

#menu > ul > li:hover > div {
	display: table;

}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 12px;
	display: block;
	white-space: nowrap;
	min-width: 130px;
	background:#262626 url(../image/sub_menu_d.png) repeat-x;
	border-bottom: solid 1px #222;
	border-top: solid 1px #3e3e3e;
}
#menu > ul > li ul > li:first-child a {
	border-top: solid 1px #3f3f3f;
}
#menu > ul > li ul > li > a:hover {
	background: #222;
}
#menu > ul > li > div > ul > li > a {
	color: #c4c4c4;
	text-shadow: 0 1px #000;
	font-weight:bold;
}


.tabs {
	display: block;
	height: 36px;
	background: #fafafa;
	border: 1px solid #ccc;
	overflow:hidden;
	margin-bottom: 0px;
	border-radius: 3px;


}

.tabs a {
	float: left;
	padding: 0px 10px;
	height: 35px;
	font: 14px;
	line-height: 28px;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	cursor: pointer;
	color: #444;
	font-weight:bold;
	text-decoration:none;
	line-height:35px;
}

.tabs a.selected {
	height:34px;
	position: relative;
	line-height: 35px;
	top: 0px;
	border: solid 1px #ccc;
	padding: 0px 11px;
	margin-left: -1px;
	margin-right: -1px;
	-moz-box-shadow: 0px -1px 0px #f5f5f5;
   	-webkit-box-shadow: 0px -1px 0px #f5f5f5;
	box-shadow: 0px -1px 0px #f5f5f5;
	background: #eee;
	text-decoration: none;
	border-top: solid 2px #ff6619;

}
.tabs a + a.selected {margin-left: -2px;}
.tabs a:hover {
	color: #ff6619;	
	text-decoration: none;
}

.product-info .cart .wishlist, .product-info .cart .compare {
	text-decoration:none;
	color:#555;
}
.name a {
	text-decoration:none;
	color:#333;
}

.slide_bg {
	background: url(../image/slide_bg.png);
}


/* Footer */
.icart-footer {background: #393939 url(../image/footer_bg.png) repeat-x top;clear: both;overflow: auto;min-height: 100px;}
.icart-footer-container {width:1000px; margin:0 auto;}
.icart-footer h3, icart-footer h3 a {color:#999 !important;font-size:14px; line-height:15px; margin-bottom:10px;}
.icart-footer {color:#777 !important;}
.icart-footer a {color:#777 !important;text-decoration:none;}
.icart-footer a:hover {color:#999 !important;}
.icart-footer-top, #icart-footer-base {background-color:#fff; border-top:1px solid #000; border-bottom:1px solid #222; }
.icart-logo-footer {float:left;}
.icart-footer-container {font-size:12px; line-height:18px;width:1000px; margin:0 auto; }
.icart-footer-container ul {list-style:none; margin:0px; line-height:15px;}
.icart-footer-container ul li {background:url(../image/circle.png) 5px 3px no-repeat;padding-left:17px; margin-bottom:6px;height:20px;}
.icart-footer-container ul.social li {padding:5px 0px 5px 20px;padding-bottom:2px;}
.icart-footer-container ul.social li.twitter {background: url(../image/twitter.png) no-repeat left;}
.icart-footer-container ul.social li.facebook {background: url(../image/facebook.png) no-repeat left;margin-right:-4px;}
.icart-footer-container ul.social li.rss {background: url(../image/rss.png) no-repeat left}
.icart-footer-container .footer-container, .footer-container, .footer-container {padding:0px 0px 15px 0px;}
.icart-footer-container h3 {white-space: nowrap; width:100%; overflow:hidden;color:#eee;padding-bottom:7px;padding-top:12px;padding-left:10px;margin-bottom:6px;height:20px;margin-top:1px;}
.icart-footer-top {height:10px;background: url(../image/footer_top.png) repeat-x top;}
.icart-footer-bottom {padding-top:4px;padding-bottom:4px;background-color:#333;border-top: solid 1px #222;border-bottom: solid 1px #333;}
.column_footer {float:left; margin-right:24px; margin-top:-4px;}
.right_column{margin-right:0px !important;}
.column_footer img {padding:5px;paddind-top:0px;padding-left:0px;}
.icart-footer-container h3::after {
content: '';
width: 100%;
display: inline-block;
background: url(../image/footer_line.png) repeat-x center top;
height: 6px;
margin-left:4px;

}


/* End of Footer */

iframe,sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
/* Clear Fix
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; display:block;overflow:hidden;visibility:hidden;width:0;height:0;}*/
.clearboth, .clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}

.showme{ 
	display: none;
}
.showhim:hover .showme{
	display : block;
}

.description_featured {
	padding:8px;
	margin-top:-197px;
    	font-size: 12px;
	font-family: "HelveticaNeue","Helvetica Neue",Arial,sans-serif;
	color: #626A76;   
    	line-height: 20px;
	background:#fff;	
	height:184px;
	width:184px;
	index-z:99;
	position:absolute;
	margin-left:1px;
}
/* cat_nav button */
.cat_nav a {
	position: relative;
	background-color: #025881;
	height: 30px;
	display: inline-block;
	color: #fff !important;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 2px rgba(255, 255, 255, 0.1);
	background-image: url('../image/bgradient.png');
	line-height: 30px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}
.cat_nav a:hover {
	z-index: 2;
	background-color: #333;	
	text-decoration: none !important;
}
.cat_nav a.active,
.cat_nav a:active {
	position: relative;
	z-index: 2;
	background-color: #111;	
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.cat_nav a + a {
	margin-left: -1px;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 2px rgba(255, 255, 255, 0.1), inset 2px 0px 0px 0px rgba(255, 255, 255, 0.05);
}
.cat_nav a:first-child {border-radius: 3px 0px 0px 3px;}
.cat_nav a:last-child {border-radius: 0px 3px 3px 0px;}
.cat_nav span {
	margin-right: 10px;
	font-weight: bold;
}
.cat_nav .icon {
	position: relative;
	top: 3px;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 0px 8px;
	background-image: url('../image/icons24x24.png');
}
.cat_nav .icon-wish {background-position: -48px 0px;}
.cat_nav .icon-basket {background-position: -24px 0px;}
.cat_nav .icon-list {background-position: -72px 0px;}
.cat_nav .icon-grid {background-position: -96px 0px;}
/* end cat_nav button */


/* Button */
.btn {
	background-color: #0080ff;
	height: 26px;
	display: inline-block;
	color: #fff !important;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 2px rgba(255, 255, 255, 0.1);
	background-image: url('../image/bgradient2.png');
	cursor: pointer;
	border-radius: 3px;
	padding: 0px 14px;
	font: bold 12px Arial;
	line-height: 26px !important;
}
.btn:hover {
	background-color: #006cd9;	
	text-decoration: none !important;
}
.btn:active {
	position: relative;
	background-color: #006cd9;	
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3);
}
/* end Button */


/* Button drop */
.btn-drop {
	background-color: #333;
	height: 26px;
	display: block;
	float: left;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 2px rgba(255, 255, 255, 0.1);
	background-image: url('../image/bgradient2.png');
	line-height: 26px;
	cursor: pointer;
	position: relative;
	border-radius: 3px;
}
.btn-drop:focus,
.btn-drop:hover {background-color: #444;}
.btn-drop:active {
	background-color: #444;	
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3);	
	border-radius: 3px 3px 0px 0px;
}
.btn-drop dt {
	display: block;
	position: absolute;
	border: 3px solid transparent;
	border-top-color: #fff;
	width: 0px;
	height: 0px;
	right: 11px;	
	top: 11px;
}
.btn-drop dd {
	display: block;
	padding: 0px 10px;
	padding-right: 26px;
	font-weight: bold;
	color: #fff !important;
	text-align:left;
}
.btn-drop select {
	width: 100%;
	height: 25px;
	position: relative;
	top: -26px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	background:#333;
	color:#fff;
}


/* end Button drop */

dl, dd, dt{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;	
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
 	background:#222;
 	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #888;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444), color-stop(1, #222) );
	background:-moz-linear-gradient( center top, #444 5%, #222 100% );
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	border-radius:0px;
	border:1px solid #222;  
	font-weight: bold;
     	padding: 6px;
    	text-align: center;
    	
    	margin-right:-0px;
    	color: #FFFFFF !important;
    	display: inline-block;
    	font-family: arial;
    	text-decoration: none;
    	text-shadow: 1px 1px 0 #000;
	border-radius:2px;

}


.tipsy { 
	padding: 5px; 
	
font-size: 10px; 
	
background-repeat: no-repeat;  
	
background-image: url(../image/tipsy.png); 
}
  
	
.tipsy-inner { 
	padding: 5px 8px 7px 8px; 
	background-color: #222; 
	color: white; 
	max-width: 200px; 
	text-align: center; 
	border:1px solid #1d1d1d;
 	-moz-box-shadow:inset 0px 1px 0px 0px #444;
	-webkit-box-shadow:inset 0px 1px 0px 0px #444;
	box-shadow:inset 0px 1px 0px 0px #444;
	font-weight:bold;
	text-shadow:0 1px #111;
}
  
.tipsy-inner {
	 -moz-border-radius:2px; 
	 -webkit-border-radius:2px; 
	border-radius:2px; 
}
  
.tipsy-north { 
	background-position: top center; 
}
  
.tipsy-south{ 
	background-position: bottom center;
}
  
.tipsy-east { 
	background-position: right center; 
}
  
.tipsy-west { 
	background-position: left center; 
}
#gravity { 
	width: 100%; 
	margin: 5px 0; 
	border-spacing: 5px; 
}
  
#gravity td { 
	text-align: center; 
	vertical-align: middle; 
	padding: 5px 0; 
	background-color: #d0d0d0;
	}
  
#gravity a { }
    
#gravity a:hover { 
	color: #505050; 
	background: none; 
}




.item_num {
	color:#fff;
	position:absolute;
	float:right;
	overflow:hidden;
	width:11px;
	font-size:10px;
	right:194px;
	margin-top:53px;
}

.content_lines {
	padding: 6px;
	background: url(../image/lines.gif);
}

	
.banner_title {
	color:#fff;
	font-size:12px;
	margin-top:20px;
	font-weight:bold;
	text-shadow: 0 1px #111;
}

.up_arrow {
	background: url(../image/cart_arrow.png) no-repeat bottom left;
	width:270px;
	height:15px;
	margin-top:-29px;
	float:right;
	padding-top:5px;

}

#cart table{
	width:100%;
	text-align:right;
	border: solid 1px #ccc;
}
#cart table td{
	text-align:left;
	background:#f4f4f4;
	border-right: solid 1px #ccc;
}
#cart table td:nth-child(1) {
	background:#fff;

	
}
#cart table td:nth-child(2) {
	background:#f5f5f5;

}
#cart table a{
	text-shadow:none;
	color:#333;
	font-size:12px;
	text-decoration:none;
	padding:0;margin:0;
	float:none;
	line-height:normal;
}
#cart table td{
	border:1px solid #e4e4e4;
	border-width:0 0 1px 0;
	text-shadow:none;
	padding:10px;
	background:#fff;
}
#cart table td a{
	background:none;
}
td.remove img{
	cursor:pointer;
	padding-top:2px;

}

.tags {
	margin-top:-15px;


}
.tags a {
	padding: 3px 6px;
	border: 1px solid #BDBDBD;
	background-color: #E0E0E0;
	color: #777;
	font-size: 11px;
	line-height: 27px;
	text-decoration:none;
	border-radius: 2px;

}

.tags a:hover {
	background:#eee;
}