<?php echo $header; ?>

<style type="text/css">

.linktree {
	margin-top:0px;
	margin-bottom:10px;
	margin-left:3px;
}

#menu {
	border-radius: 5px;

}

.box-product > div {
	width: 135px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.linktree a {
	color:#666;
	text-decoration:none;
	font-size:11px;
}

.priced {
	overflow:hidden;
}
.rating {
	padding-bottom:14px;
	padding-top:10px;
	margin-bottom:-6px;
	float:left;
	display:block;

}

.box-product .image img {
	padding-bottom:6px;
}

.name {
	width:200px;
	margin-bottom:-6px;
}

.box-product {
	width:100%;
 	overflow: auto;
	
}

.box-product > div {
	margin-right:110px;
}
</style>
<div class="linktree">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
</div>

  <h1 style="margin-top:-10px;"><?php echo $heading_title; ?></h1>

<div id="notification"></div>

<?php echo $column_left; ?>
<?php echo $column_right; ?>
<div id="content">
    <?php echo $content_top; ?>
    
    <div class="block-white"> 
        <div class="block-content">
           
        </div>
        <div class="separator"></div>
        <div class="block-content">
            <div class="product-info">
                <?php if ($thumb || $images) { ?>
                	<div class="left">
                		<?php if ($thumb) { ?>
                			<div class="image">
                            	<a href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" class="colorbox" rel="colorbox">
                                	<img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" id="image" />
                                </a>
                            </div>
                		<?php } ?>
                		<?php if ($images) { ?>
                			<div class="image-additional">
                				<?php foreach ($images as $image) { ?>
                					<a href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" class="colorbox" rel="colorbox">
                                    	<img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" />
                                    </a>
                				<?php } ?>
                			</div>
                		<?php } ?>
                        

                	</div>
				<?php } ?>
    			<div class="right">
                	<div id="tabs" class="tabs">
                    	<a href="#tab-information" class="selected"><img src="catalog/view/theme/iCart/image/Info.png" style="margin-top:6px;" /><div></div></a>
                        <a href="#tab-description"><?php echo $tab_description; ?></a>
                        <?php if ($attribute_groups) { ?>
                        <a href="#tab-attribute"><?php echo $tab_attribute; ?></a>
                        <?php } ?>
                        <?php if ($review_status) { ?>
                        <a href="#tab-review"><?php echo $tab_review; ?></a>
                        <?php } ?>
	    		<?php if ($products) { ?>
   			 <a href="#tab-related"><?php echo $tab_related; ?> (<?php echo count($products); ?>)</a>
   			 <?php } ?>
                    </div>
  
                    <div id="tab-information" class="tab-content">
                    	<div id="information"></div>
                        <div class="description">
                            <?php if ($manufacturer) { ?>
                            	<span><?php echo $text_manufacturer; ?></span> <a href="<?php echo $manufacturers; ?>"><?php echo $manufacturer; ?></a><br />
                            <?php } ?>
                            <span><?php echo $text_model; ?></span> <?php echo $model; ?><br />
                            <span><?php echo $text_reward; ?></span> <?php echo $reward; ?><br />
                            <span><?php echo $text_stock; ?></span> <?php echo $stock; ?>
                        </div>
                            
                        <?php if ($price) { ?>
                            <div class="price">
                                <?php if (!$special) { ?>
                                    <span class="price-new"><?php echo $price; ?></span>
                                <?php } else { ?>
                                    <span class="price-old"><?php echo $price; ?></span> 
				
				<span class="price-new"><?php echo $special; ?></span>
                                <?php } ?>
				
                        
                                <?php if ($tax) { ?>
                                    <div class="price-tax"><?php echo $text_tax; ?> <?php echo $tax; ?></div>
                                <?php } ?>
                                <?php if ($points) { ?>
                                    <div class="reward"><small><?php echo $text_points; ?> <?php echo $points; ?></small></div> 
                                <?php } ?>
                                <?php if ($discounts) { ?>
                                  
                                    <div class="discount">
                                        <?php foreach ($discounts as $discount) { ?>
                                            <?php echo sprintf($text_discount, $discount['quantity'], $discount['price']); ?><br />
                                        <?php } ?>
                                    </div>
                                <?php } ?>
                            </div>
                        <?php } ?>
                        
                        <?php if ($options) { ?>
                        <div class="options">
                        <h2><?php echo $text_option; ?></h2>
                        <br />
                        <?php foreach ($options as $option) { ?>
                        <?php if ($option['type'] == 'select') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <select name="option[<?php echo $option['product_option_id']; ?>]">
                        <option value=""><?php echo $text_select; ?></option>
                        <?php foreach ($option['option_value'] as $option_value) { ?>
                        <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                        <?php if ($option_value['price']) { ?>
                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                        <?php } ?>
                        </option>
                        <?php } ?>
                        </select>
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'radio') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <?php foreach ($option['option_value'] as $option_value) { ?>
                        <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" />
                        <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                        <?php if ($option_value['price']) { ?>
                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                        <?php } ?>
                        </label>
                        <br />
                        <?php } ?>
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'checkbox') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <?php foreach ($option['option_value'] as $option_value) { ?>
                        <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" />
                        <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                        <?php if ($option_value['price']) { ?>
                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                        <?php } ?>
                        </label>
                        <br />
                        <?php } ?>
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'image') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <table class="option-image">
                        <?php foreach ($option['option_value'] as $option_value) { ?>
                        <tr>
                        <td style="width: 1px;"><input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" /></td>
                        <td><label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" /></label></td>
                        <td><label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                        <?php if ($option_value['price']) { ?>
                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                        <?php } ?>
                        </label></td>
                        </tr>
                        <?php } ?>
                        </table>
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'text') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" />
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'textarea') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <textarea name="option[<?php echo $option['product_option_id']; ?>]" cols="40" rows="5"><?php echo $option['option_value']; ?></textarea>
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'file') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <a id="button-option-<?php echo $option['product_option_id']; ?>" class="button"><span><?php echo $button_upload; ?></span></a>
                        <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" />
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'date') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="date" />
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'datetime') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="datetime" />
                        </div>
                        <br />
                        <?php } ?>
                        <?php if ($option['type'] == 'time') { ?>
                        <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                        <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                        <?php } ?>
                        <b><?php echo $option['name']; ?>:</b><br />
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="time" />
                        </div>
                        <br />
                        <?php } ?>
                        <?php } ?>
                        </div>
                        <?php } ?>
                        <br>
                        <div class="cart">
                            <div>
                                <?php echo $text_qty; ?>
                                <input class="quantity" type="text" name="quantity" size="2" value="<?php echo $minimum; ?>" />
                                <input type="hidden" name="product_id" size="2" value="<?php echo $product_id; ?>" />
                                &nbsp;<a id="button-cart" class="button"><span><?php echo $button_cart; ?></span></a>
                            </div>
                            <div>
                            	<span>&nbsp;&nbsp;&nbsp;<?php echo $text_or; ?>&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <div>
                            	<a class="wishlist" onclick="addToWishList('<?php echo $product_id; ?>');"><img src="catalog/view/theme/iCart/image/wishlist.png" style="margin-top:6px;" title="<?php echo $button_wishlist; ?>"/></a>
                                <a class="compare" onclick="addToCompare('<?php echo $product_id; ?>');"><img src="catalog/view/theme/iCart/image/compare.png" style="margin-top:6px;" title="<?php echo $button_compare; ?>"/></a>
                            </div>
                            <?php if ($minimum > 1) { ?>
                                <div class="minimum"><?php echo $text_minimum; ?></div>
                            <?php } ?>
                        </div>
                        
                        <?php if ($review_status) { ?>
                            <div class="review">
                                <div>
                                	<img src="catalog/view/theme/iCart/image/stars-<?php echo $rating; ?>.png" alt="<?php echo $reviews; ?>" />&nbsp;&nbsp;
                                    <a onclick="$('a[href=\'#tab-review\']').trigger('click');"><?php echo $reviews; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a onclick="$('a[href=\'#tab-review\']').trigger('click');"><?php echo $text_write; ?></a>
                                </div>
                                <div class="share">
        			<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f760cc6744fb61b"></script>
				<!-- AddThis Button END -->
                                </div>
                            </div><?php echo $description; ?>
                        <?php } ?>
                    </div>
                    
                    <div id="tab-description" class="tab-content content"><?php echo $description; ?></div>
                
                    <?php if ($attribute_groups) { ?>
                        <div id="tab-attribute" class="tab-content">
                            <table class="attribute">
                                <?php foreach ($attribute_groups as $attribute_group) { ?>
                                    <thead>
                                        <tr>
                                            <td colspan="2"><?php echo $attribute_group['name']; ?></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                                            <tr>
                                                <td><?php echo $attribute['name']; ?></td>
                                                <td><?php echo $attribute['text']; ?></td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                <?php } ?>
                            </table>
                        </div>
                    <?php } ?>
                        
                    <?php if ($review_status) { ?>
                        <div id="tab-review" class="tab-content">
                            <div id="review"></div>
                            <div class="content">
                                <h2 id="review-title"><?php echo $text_write; ?></h2>
                                <b><?php echo $entry_name; ?></b><br />
                                <input type="text" name="name" value="" />
                                <br />
                                <br />
                                <b><?php echo $entry_review; ?></b>
                                <textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
                                <span style="font-size: 11px;"><?php echo $text_note; ?></span><br />
                                <br />
                                <b><?php echo $entry_rating; ?></b> <span><?php echo $entry_bad; ?></span>&nbsp;
                                <input type="radio" name="rating" value="1" />
                                &nbsp;
                                <input type="radio" name="rating" value="2" />
                                &nbsp;
                                <input type="radio" name="rating" value="3" />
                                &nbsp;
                                <input type="radio" name="rating" value="4" />
                                &nbsp;
                                <input type="radio" name="rating" value="5" />
                                &nbsp; <span><?php echo $entry_good; ?></span><br />
                                <br />
                                <b><?php echo $entry_captcha; ?></b><br />
                                <input type="text" name="captcha" value="" />
                                <br />
                                <img src="index.php?route=product/product/captcha" alt="" id="captcha" /><br />
                                <br />
                                <div class="buttons">
                                    <div class="right"><a id="button-review" class="button"><span><?php echo $button_continue; ?></span></a></div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

  <?php if ($products) { ?>
  <div id="tab-related" class="tab-content">
    <div class="box-product">
      <?php foreach ($products as $product) { ?>
      <div>
        <?php if ($product['thumb']) { ?>
        <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
        <?php } ?>
        <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
        <?php if ($product['rating']) { ?>
        <div class="rating"><img src="catalog/view/theme/iCart/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
        <?php } ?>
	<br>
        <?php if ($product['price']) { ?>
        <div class="priced">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
          <?php } ?>
        </div>
        <?php } ?>

        <a onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button"><span><?php echo $button_cart; ?></span></a></div>
      <?php } ?>
    </div>
  </div>
  <?php } ?>
  <?php if ($tags) { ?>
  <div class="tags"><b><?php echo $text_tags; ?></b>
    <?php foreach ($tags as $tag) { ?>
    <a href="<?php echo $tag['href']; ?>"><?php echo $tag['tag']; ?></a>
    <?php } ?>
  </div>
  <?php } ?>
  <?php echo $content_bottom; ?></div>


                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript"><!--
$('.colorbox').colorbox({cyclic: true});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').bind('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/update',
		type: 'post',
		data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
		dataType: 'json',
		success: function(json) {
			$('.success, .warning, .attention, information, .error').remove();
			
			if (json['error']) {
				if (json['error']['warning']) {
					$('#notification').html('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
				
					$('.warning').fadeIn('slow');
				}
				
				for (i in json['error']) {
					$('#option-' + i).after('<span class="error">' + json['error'][i] + '</span>');
				}
			}	 
						
			if (json['success']) {
				$('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
					
				$('.success').fadeIn('slow');
					
				$('#cart_total').html(json['total']);
				
				$('html, body').animate({ scrollTop: 0 }, 'slow'); 
			}	
		}
	});
});
//--></script>
<?php if ($options) { ?>
<script type="text/javascript" src="catalog/view/javascript/jquery/ajaxupload.js"></script>
<?php foreach ($options as $option) { ?>
<?php if ($option['type'] == 'file') { ?>
<script type="text/javascript"><!--
new AjaxUpload("#button-option-<?php echo $option['product_option_id']; ?>", {
	action: 'index.php?route=product/product/upload',
	name: 'file',
	autoSubmit: true,
	responseType: 'json',
	onSubmit: function(file, extension) {
		$("#button-option-<?php echo $option['product_option_id']; ?>").after('<img src="catalog/view/theme/default/image/loading.gif" class="loading" style="padding-left: 5px;" />');
	},
	onComplete: function(file, json) {
		$('.error').remove();
		
		if (json.success) {
			alert(json.success);
			
			$("input[name='option[<?php echo $option['product_option_id']; ?>]']").attr('value', json.file);
		}
		
		if (json.error) {
			$("#option-<?php echo $option['product_option_id']; ?>").after('<span class="error">' + json.error + '</span>');
		}
		
		$('.loading').remove();	
	}
});
//--></script>
<?php } ?>
<?php } ?>
<?php } ?>
<script type="text/javascript"><!--
$('#review .pagination a').live('click', function() {
	$('#review').slideUp('slow');
		
	$('#review').load(this.href);
	
	$('#review').slideDown('slow');
	
	return false;
});			

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').bind('click', function() {
	$.ajax({
		type: 'POST',
		url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
		dataType: 'json',
		data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
		beforeSend: function() {
			$('.success, .warning').remove();
			$('#button-review').attr('disabled', true);
			$('#review-title').after('<div class="attention"><img src="catalog/view/theme/default/image/loading.gif" alt="" /> <?php echo $text_wait; ?></div>');
		},
		complete: function() {
			$('#button-review').attr('disabled', false);
			$('.attention').remove();
		},
		success: function(data) {
			if (data.error) {
				$('#review-title').after('<div class="warning">' + data.error + '</div>');
			}
			
			if (data.success) {
				$('#review-title').after('<div class="success">' + data.success + '</div>');
								
				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').attr('checked', '');
				$('input[name=\'captcha\']').val('');
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').bind('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
		dataType: 'json',
		success: function(json) {
			$('.success, .warning, .attention, information, .error').remove();
			
			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						$('#option-' + i).after('<span class="error">' + json['error']['option'][i] + '</span>');
					}
				}
			} 
			
			if (json['success']) {
				$('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
					
				$('.success').fadeIn('slow');
					
				$('#cart-total').html(json['total']);
				
				$('html, body').animate({ scrollTop: 0 }, 'slow'); 
			}	
		}
	});
});
//--></script>
<?php if ($options) { ?>
<script type="text/javascript" src="catalog/view/javascript/jquery/ajaxupload.js"></script>
<?php foreach ($options as $option) { ?>
<?php if ($option['type'] == 'file') { ?>
<script type="text/javascript"><!--
new AjaxUpload('#button-option-<?php echo $option['product_option_id']; ?>', {
	action: 'index.php?route=product/product/upload',
	name: 'file',
	autoSubmit: true,
	responseType: 'json',
	onSubmit: function(file, extension) {
		$('#button-option-<?php echo $option['product_option_id']; ?>').after('<img src="catalog/view/theme/default/image/loading.gif" class="loading" style="padding-left: 5px;" />');
	},
	onComplete: function(file, json) {
		$('.error').remove();
		
		if (json.success) {
			alert(json.success);
			
			$('input[name=\'option[<?php echo $option['product_option_id']; ?>]\']').attr('value', json.file);
		}
		
		if (json.error) {
			$('#option-<?php echo $option['product_option_id']; ?>').after('<span class="error">' + json.error + '</span>');
		}
		
		$('.loading').remove();	
	}
});
//--></script>
<?php } ?>
<?php } ?>
<?php } ?>
<script type="text/javascript"><!--
$('#review .pagination a').live('click', function() {
	$('#review').slideUp('slow');
		
	$('#review').load(this.href);
	
	$('#review').slideDown('slow');
	
	return false;
});			

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').bind('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
		type: 'post',
		dataType: 'json',
		data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
		beforeSend: function() {
			$('.success, .warning').remove();
			$('#button-review').attr('disabled', true);
			$('#review-title').after('<div class="attention"><img src="catalog/view/theme/default/image/loading.gif" alt="" /> <?php echo $text_wait; ?></div>');
		},
		complete: function() {
			$('#button-review').attr('disabled', false);
			$('.attention').remove();
		},
		success: function(data) {
			if (data.error) {
				$('#review-title').after('<div class="warning">' + data.error + '</div>');
			}
			
			if (data.success) {
				$('#review-title').after('<div class="success">' + data.success + '</div>');
								
				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').attr('checked', '');
				$('input[name=\'captcha\']').val('');
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#tabs a').tabs();
//--></script> 
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript"><!--
if ($.browser.msie && $.browser.version == 6) {
	$('.date, .datetime, .time').bgIframe();
}

$('.date').datepicker({dateFormat: 'yy-mm-dd'});
$('.datetime').datetimepicker({
	dateFormat: 'yy-mm-dd',
	timeFormat: 'h:m'
});
$('.time').timepicker({timeFormat: 'h:m'});
//--></script> 
<?php echo $footer; ?>