<?php if (isset($_SERVER['HTTP_USER_AGENT']) && !strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 6')) echo '<?xml version="1.0" encoding="UTF-8"?>'. "\n"; ?>
<?php if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 13958))
header( 'Location: index.php?route=product/category&path=3' ); 
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 14409))
header( 'Location: index.php?route=product/category&path=3' ); 
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 14408))
header( 'Location: index.php?route=product/category&path=3' ); 
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 12858))
header( 'Location: index.php?route=product/category&path=8_818');
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 13949))
header( 'Location: index.php?route=product/category&path=30');
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 13936))
header( 'Location: index.php?route=product/category&path=7');
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 14400))
header( 'Location: index.php?route=product/category&path=10');
if (!isset($_GET['path']) && isset($_GET['product_id']) && ($_GET['product_id'] == 14401))
header( 'Location: index.php?route=product/category&path=10');

 
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" xml:lang="<?php echo $lang; ?>">
<head>
<title><?php echo $title; ?></title>
<base href="<?php echo $base; ?>" />
<?php if ($description) { ?>
<meta name="description" content="<?php echo $description; ?>" />
<?php } ?>
<?php if ($keywords) { ?>
<meta name="keywords" content="<?php echo $keywords; ?>" />
<?php } ?>
<?php if ($icon) { ?>
<link href="<?php echo $icon; ?>" rel="icon" />
<?php } ?>
<?php foreach ($links as $link) { ?>
<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
<?php } ?>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/iCart/stylesheet/stylesheet.css" />
<?php foreach ($styles as $style) { ?>
<link rel="<?php echo $style['rel']; ?>" type="text/css" href="<?php echo $style['href']; ?>" media="<?php echo $style['media']; ?>" />
<?php } ?>
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/colorbox/colorbox.css" media="screen" />
<script type="text/javascript" src="catalog/view/javascript/jquery/tabs.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<?php 
if (isset($_GET['path'])
 && $_GET['path'] == 3 || isset($_GET['path']) && $_GET['path'] == "32_3212")
 echo "<style>sup {display:none}</style>"
?>
 
<?php 
if (isset($_GET['path'])
 && $_GET['path'] == 3 || isset($_GET['path']) && $_GET['path'] == "32_3212") {
 echo " ";}
 else {echo "<style>.mpog {display:none} </style>";}
?>


<script>
$(document).ready(function(e) {
// IE 10 only CSS properties
 var ie10Styles = [
     'msTouchAction',
     'msWrapFlow',
     'msWrapMargin',
     'msWrapThrough',
     'msOverflowStyle',
     'msScrollChaining',
     'msScrollLimit',
     'msScrollLimitXMin',
     'msScrollLimitYMin',
     'msScrollLimitXMax',
     'msScrollLimitYMax',
     'msScrollRails',
     'msScrollSnapPointsX',
     'msScrollSnapPointsY',
     'msScrollSnapType',
     'msScrollSnapX',
     'msScrollSnapY',
     'msScrollTranslation',
     'msFlexbox',
     'msFlex',
     'msFlexOrder'];

 var ie11Styles = [
     'msTextCombineHorizontal'];

 /*
  * Test all IE only CSS properties
  */
 var d = document;
 var b = d.body;
 var s = b.style;
 var ieVersion = null;
 var property;

 // Test IE10 properties
 for (var i = 0; i < ie10Styles.length; i++) {
     property = ie10Styles[i];

     if (s[property] != undefined) {
         ieVersion = "ie10";
     }
 }

 // Test IE11 properties
 for (var i = 0; i < ie11Styles.length; i++) {
     property = ie11Styles[i];

     if (s[property] != undefined) {
         ieVersion = "ie11";
     }
 }

 if (ieVersion) {
     b.className = ieVersion;
     //alert('Version: ' + ieVersion);
	 $('a.lastedmenu, #marged').addClass('bang');
	 
	 
 } else {
     //alert('Not IE10 or 11.');
 }
});
</script>
<script>

$(document).ready(function(){
	$('.scrollToTop').click(function(){
    $('html, body').animate({ scrollTop: 0 }, 600);
    return false;
    });				


<?php
 
if (isset($_GET['path'])
 && $_GET['path'] != 26
 && $_GET['path'] != 30
 && $_GET['path'] != 5
 && $_GET['path'] != 24 
 && $_GET['path'] != '8_813' 
 && $_GET['path'] != '8_827'  
 && $_GET['path'] != 23 
 && $_GET['path'] != '22_2202'
 && $_GET['path'] != 20
 && $_GET['path'] != 15
 && $_GET['path'] != '15_1501'
 && $_GET['path'] != '15_1502'
 && $_GET['path'] != '15_1503'
 && $_GET['path'] != '15_1504'
 && $_GET['path'] != '15_1505'
 && $_GET['path'] != '15_1506'
 && $_GET['path'] != '15_1507'
 && $_GET['path'] != '15_1508'
 && $_GET['path'] != '15_1509'
 && $_GET['path'] != 14
 && $_GET['path'] != '14_1401'
 && $_GET['path'] != '14_1402'
 && $_GET['path'] != '14_1403'
 && $_GET['path'] != '14_1404'
 && $_GET['path'] != '14_1405'
 && $_GET['path'] != '14_1406'
 && $_GET['path'] != '8_821'
)
   echo "
   $(\"h1, .product-grid .name a, .product-list .name a\").each(function() {
$(this).html(function(index, text) {
    return text.replace(' (', '<span style=\"display:none\">|');
    return text.replace(') ', '|</span>');
    return text.replace(' (', '<span style=\"display:none\">|');
    return text.replace(') ', '|</span>');
    return text.replace(', артикул', '<span style=\"display:none\">|');
    return text.replace('артикул', ' ');

});
});
"
?>
});
</script>

<?php foreach ($scripts as $script) { ?>
<script type="text/javascript" src="<?php echo $script; ?>"></script>

<?php } ?>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/iCart/stylesheet/ie7.css" />
<![endif]-->
<!--[if IE]>
<style>
.lastedmenu, .lastedmenu:hover {-webkit-border-radius: 0 5px 0 0 !important;
-moz-border-radius: 0 5px 0 0 !important;
-khtml-border-radius: 0 5px 0 0 !important;
border-radius: 0 5px 0 0 !important;}
a.lastedmenu {width:137px !important; background: none !important;
padding-left: 35px !important;
padding-right: 0 !important;}
a.lastedmenu:hover, a.lastedmenu active {background: none !important;
padding-left: 35px !important;
padding-right: 0 px !important;}
#marged {margin-left:-512px !important}
#menu > ul > li ul > li > a {
padding: 12px !important;
min-width: 129px !important;}

</style>
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/iCart/stylesheet/ie6.css" />
<script type="text/javascript" src="catalog/view/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('#logo img');
</script>
<![endif]-->

<?php echo $google_analytics; ?>
</head>
<body
<?php 		
	$page = '';
	if(isset($this->request->get['route'])){
		$page = $this->request->get['route']; 
	}
	if($page == "common/home" || $page == ''){
		echo 'class="home"';

	}elseif($page == "product/category"){
		$titleName = explode(' ',$title);
		$page = $titleName[0];	
		echo 'class="' . strtolower($page) . " category" . '"';		
	}

	elseif($page == "account/wishlist" || $page == ''){
		echo 'class="home"';	
	}

	elseif($page == "account/account" || $page == ''){
		echo 'class="home"';	
	}

	elseif($page == "checkout/cart" || $page == ''){
		echo 'class="home"';	
	}
	elseif($page == "checkout/checkout" || $page == ''){
		echo 'class="home"';	
	}

	elseif($page == "product/product"){
		$titleName = explode(' ',$title);
		$page = $titleName[0];	
		echo 'class="' . strtolower($page) . " product_page" . '"';		
	}
	elseif($page !== "common/home"){
		$titleName = explode(' ',$title);
		$page = $titleName[0];	
			if(isset($titleName[1])){
				$page = $titleName[0] . "_" . $titleName[1];
			}
		echo 'class="' . strtolower($page) . '"';				
	}


	

?>>
<style type="text/css">
a.bang {width:131px !important}
#marged {margin-left:-810px !important}
#marged.bang{margin-left:-823px !important}
#container_bg {
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
   	background: none;
	border: none;
	margin-bottom:none;
	padding-left:none;
	padding-right:none;
	padding-top:0;
	border-radius:none;
	padding-top:0;
	margin-top:0;
}

<?php
 
if (isset($_GET['path'])
 && $_GET['path'] == 7
)
   echo "sup {display:none} .mpog {display:inline}"
?>
</style>

<div class="linkz">
<ul>
<li <?php if($page == "common/home" || $page == ''){echo 'class="active"';} ?>><a class="home" href="<?php echo $home; ?>"><?php echo $text_home; ?></a></li>
<li <?php if($page == "account/wishlist" || $page == 'account/wishlist'){echo 'class="active"';} ?>><a class="wishlist" href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
<!--li <?php if($page == "account/account" || $page == 'account/account'){echo 'class="active"';} ?>><a class="account" href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li-->
<li <?php if($page == "checkout/cart" || $page == 'checkout/cart'){echo 'class="active"';} ?>><a class="cart" href="<?php echo $shopping_cart; ?>"><?php echo $text_shopping_cart; ?></a></li>

<!--li <?php if($page == "checkout/checkout" || $page == 'checkout/checkout'){echo 'class="active"';} ?>>
<a class="checkout"href="<?php echo $checkout; ?>"><?php echo $text_checkout; ?></a></li-->
</ul>
</div>

<div id="container">
<div id="header">



<?php if ($logo) { ?> <div id="logo"><a href="<?php echo $home; ?>"><img alt="<?php echo $name; ?>"  title="<?php echo $name; ?>" src="catalog/view/theme/iCart/image/logo.png"/></a></div>  
<?php } else { ?>
<div id="logo"><a href="<?php echo $home; ?>"><img src="catalog/view/theme/iCart/image/logo.png"/></a></div>
<?php } ?>
 

<?php echo $language; ?>

<?php echo $currency; ?>

<?php echo $cart; ?>

<div>  <div id="welcome">
    <?php if (!$logged) { ?>
    <?php echo $text_welcome; ?>
    <?php } else { ?>
    <?php echo $text_logged; ?>
    <?php } ?>
  </div>

  <div id="search">
    <div class="button-search"></div>
    <?php if ($filter_name) { ?>
    <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" />
    <?php } else { ?>
    <input type="text" name="filter_name" value="<?php echo $text_search; ?>" onclick="this.value = '';" onkeydown="this.style.color = '#888';" />
    <?php } ?>
  </div>
</div>

</div>


<?php if ($categories) { ?>
<div id="menu">
  <ul>
  
    <?php foreach ($categories as $category) { ?>
    <li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a>
      <?php if ($category['children']) { ?>
	

      <div>
      <?php
         $posted = 0;
         for ($i = 0; $i < count($category['children']);) { ?>

        <ul>	

          <?php $j = $i + ceil(count($category['children']) / $category['column']); 
           for (; $i < $j; $i++) {
           if (isset($category['children'][$i])) { 
            if (++$posted == 10) {
              echo '</ul><ul>';
              $posted = 1;
            } ?>
          <li><a href="<?php echo $category['children'][$i]['href']; ?>"><?php echo $category['children'][$i]['name']; ?></a></li>
          <?php } ?>
          <?php } ?>
         </ul>
        <?php } ?>
      </div>
<!--img src="catalog/view/theme/iCart/image/arrow-down_menu.png" style="margin-bottom:-4px;margin-right:11px;margin-left:-14px;"/-->

	<?php } ?>
    </li>
    <?php } ?>


<li class="lastedmenu"><a href="/index.php?route=product/category&path=3253" class="lastedmenu">ВСЕ КАТЕГОРИИ</a>
      	
 
      <div id="marged">
        
      <ul>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3253">Блоки</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&path=3257">Брусчатка</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=2">Газооборудование</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3">ГВЛ и др. плиты</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=1402">Грунт</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=5">ЕК</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=6">Замки Петли</a>
                  </li>
                  </ul><ul>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=7">Изолайн</a>
                            </li>
                <!--li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=8">Инструменты</a>
                  </li-->
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=9">Керамика</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=10">Кирпич</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=11">Клапан запорный</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=12">Клей</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=13">Кровельный материал</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=14">Лаки Краски</a>
                  </li>
                  </ul><ul>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=15">Малярный инструмент</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=16">Метизы</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=1706">Монтажная пена</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3245">Монтажный клей, герметики</a>
                  </li>
                <!--li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=17">Отделочные материалы</a>
                  </li-->
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3250">Парогидроизоляция</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=18">Перфолента</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3239">Пластик (тазы, ведра, носилки)</a>
                            </li>
                  </ul><ul>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=19">Плинтуса</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=20">Пропитка и добавки к растворам</a>
                            </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=21">Профили</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=22">Прочее</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3240">Разметочный инструмент</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=23">Растворители</a>
                            </li>
                <!--li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=24">Сад-огород</a>
                  </li-->
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=3254">Сайдинг</a>
                  </li>
                  </ul><ul>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=25">Сантехника</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=26">Сварка</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=27">Средства защиты</a>
                  </li>
                <li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=28">Сухие строительные смеси</a>
                  </li>
                <!--li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=30">Утеплитель</a>
                  </li-->
                <!--li>
                    <a href="http://sarov-gts.ru/index.php?route=product/category&amp;path=32">Электрика</a>
                  </li-->
              </ul>
              </div>

	    </li>


  </ul>
</div>
</div>


<div id="container_bg">
<?php } ?>

