<script>
$(document).ready(function() {

	var regpage = $('#simplecheckout_cart').length;
if(regpage > 0) {

	$("#shipping_address_firstname").val($("#shipping_address_firstname").val());
	$("#customer_firstname").on("change keyup", function() {
		$("#shipping_address_firstname").val($(this).val())
	});

	$("#customer_lastname").val($("#shipping_address_lastname").val());
	$("#customer_lastname").on("change keyup", function() {
		$("#shipping_address_lastname").val($(this).val())
	});


	$("#shipping_address_city").prop("readonly", true).val("Саров");
}

})
</script>

  <?php echo $content_bottom; ?></div>
<?php echo $footer; ?>